[2021-12-17 21:29] #325 closed

[2021-12-17 21:45] GriffGreen commented on #177
Nice!

[2021-12-17 21:48] GriffGreen commented on #334
adding this to the other issue, makes more sense for pedro to do it :-D

[2021-12-17 21:49] laurenluz commented on #329
nice, there's an issue in the gardens repo for it: https://github.com/1Hive/gardens/issues/484

[2021-12-17 21:49] #329 closed

[2021-12-17 21:50] GriffGreen commented on #269
Make sure to get those Blockscout links to work ... see issue #334

[2021-12-17 21:54] GriffGreen commented on #333
Sounded like Option 2 was the winner

[2021-12-17 21:58] laurenluz commented on #327
From the active garden: https://gardens-staging.1hive.org/#/xdai/garden/0xbf2d7d659e45bb0ded75d89eaf5f267fd1ce0ade/

Get DRGIV

![image](https://user-images.githubusercontent.com/75490971/146612676-bbf328fe-ccf5-4cd0-bd8c-f84a14ea5bf7.png)

Links to https://app.honeyswap.org/#/swap?outputCurrency=0x7aade4907a8e2412beacbe42e51aaee5b6085f24

as it should.

I think perhaps you were using the link fro

[2021-12-17 21:58] #327 closed

[2021-12-17 22:35] laurenluz opened #341 "Test changing Tao & CV params in the garden"

[2021-12-17 22:47] #320 closed

[2021-12-17 22:56] divine-comedian commented on #330
pending in PR: https://github.com/Giveth/liquidity-mining-dapp/pull/52

[2021-12-17 23:08] laurenluz commented on #247
@marthendalnunes as per #277 - can you update end date to be 2 weeks after the start date? So in this case... the end date should say "Thu Dec 30 2021 1:29PM"

![image](https://user-images.githubusercontent.com/75490971/146617839-176bbeec-6eb3-4ea7-8308-8c46463de3c5.png)

[2021-12-18 02:46] GriffGreen commented on #335
Duplicate of #334

[2021-12-18 02:46] #335 closed

[2021-12-18 02:48] GriffGreen commented on #311
Need this for Coingecko

[2021-12-18 02:49] GriffGreen commented on #341
Would you say this is done?

[2021-12-18 03:00] laurenluz opened #342 "GIVbacks - we need these numbers to make sense / be changed after launch"
the GIVbacks rewards amount should be a static number... the amount they have liquid at the time of GIVbacks distribution.

the rest is "added to their GIVstream"... it shows the flowrate here.. but it is already added to their GIVstream

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/65539efc-76d7-494d-b222-62a5e6147121)

[2021-12-18 03:00] laurenluz commented on #341
I don't think we ever testing changing CV params in the garden

[2021-12-18 03:01] laurenluz commented on #341
I think we should probably test changing all the params we want to change after launch....

[2021-12-18 06:13] DonnaOftadeh opened #343 "For new user GIVstream is a bit confusing, people doesn't know what it means and does it include all of GIVbacks, Drops and Farm or not! need a little bit more clarification"

[2021-12-18 06:22] DonnaOftadeh opened #345 "After claiming GIVdrop and GIV tokens in the congrats page (transaction successful) the view on blockscout and etherscan is not visible enough, users sometime didn't see it"

[2021-12-18 06:24] DonnaOftadeh opened #346 "The view on the blockscout/etherscan link in the transaction successful page (GIVdrop, GIVFARM,...) is not visible enough, users seem not seeing it)"

[2021-12-18 06:32] DonnaOftadeh opened #344 "There should be a back arrow as well - the clicking on the top menu to brows interpages is not visible enough"

[2021-12-18 06:33] DonnaOftadeh commented on #344
![image](https://user-images.githubusercontent.com/53400757/146631903-774b29ca-53aa-4445-99f7-64d60155697c.png)
the forward arrow should be visible completely as well

[2021-12-18 06:40] DonnaOftadeh commented on #344
@laurenluz

[2021-12-18 06:41] DonnaOftadeh commented on #343
@laurenluz

[2021-12-18 07:05] mohammadranjbarz commented on #304
I think, I dont have access to sendGivbacks anymore and I dont know what the DRGIV is, so maybe Amin should teach how can I send it

[2021-12-18 14:57] mohammadranjbarz commented on #214
First item got done in https://github.com/Giveth/giveth-next/issues/493

We will test the second one

[2021-12-18 19:09] laurenluz commented on #346
we don't *need* the users to click it. it's just there for reference. if people are really wanting to see the tx they can also go through metamask. closing this one for now

[2021-12-18 19:09] #346 closed

[2021-12-18 19:10] #345 closed

[2021-12-18 19:11] laurenluz commented on #343
did the user click the "?" on the GIVstream? or follow the links to read more? was it still confusing after reading the documentation?

Would be good to get a bit more context

[2021-12-18 19:12] laurenluz commented on #344
@pkretzschmar can you add a "back" arrow onto the pages so the user can navigate more easily?

@DonnaOftadeh - the hidden arrow thing is due to GIVdrop responsiveness, which Cherik is working on

[2021-12-18 19:25] mateodaza opened #347 "Button is not centered on Congratulations modal"
![image](https://user-images.githubusercontent.com/18689480/146653396-38cfd774-f529-4b39-8675-7b97dfa8f7cb.png)

[2021-12-18 20:30] aminlatifi commented on #103
Assigned 2M
https://blockscout.com/xdai/mainnet/tx/0xeee6f7f42ba9ec73a590632b5b86725516c3fc5a4a09555b62cf5e24b54a0d19/logs

[2021-12-19 13:43] mendesfabio opened #348 "GIVdrop - make a better handling of user inputs"
There's not inputs handlings.

1. An user can navigate between Claim screens pressing Tab.

https://www.loom.com/share/cdb009687c434af0a7428b24c9280903

2. Number inputs accepts both comma and period as decimal separators. I worked on staking inputs and made it always period - even when user inputs a comma. Also, users can input here negative values and I'm not sure if they can input `.1` as reque

[2021-12-19 14:34] divine-comedian commented on #103
okay! I tested the full GIVbacks process - collecting the data from the function call - creating the vote with evm-crispr with the GIVbacks data, passing the vote and disbursing GIV from the tokenDistro via Agent -

I can see my GIVbacks update on the GIVeconomy UI from the verified donations I made during the selected period

here is the full vote with logs
https://blockscout.com/xdai/mainnet/tx/

[2021-12-19 14:35] divine-comedian commented on #103
here is the full script -
[code]

[2021-12-19 14:38] divine-comedian commented on #341
we tested changing the CV params in GIVgarden3 - we can test changing our Tao Voting parameters - I think its a good idea

[2021-12-19 16:23] divine-comedian commented on #340
Okay I modified some of your suggestions and changed some of the subtext to match up and be more explanatory -
![image](https://user-images.githubusercontent.com/67759413/146682253-dcabda2c-5cd2-4f80-96f6-73a9ef26755a.png)
![image](https://user-images.githubusercontent.com/67759413/146682274-cf6e6249-783f-4bf6-986e-19076b12d878.png)
![image](https://user-images.githubusercontent.com/67759413/14668

[2021-12-19 17:33] laurenluz commented on #253
@mendesfabio this still isn't working on https://liquidity-mining-dapp.vercel.app/givfarm

[2021-12-19 17:35] laurenluz commented on #254
@mendesfabio this one also isn't working on the main deployment

[2021-12-19 17:37] #323 closed

[2021-12-19 17:39] #316 closed

[2021-12-19 17:54] laurenluz opened #349 "GIVstream duration is weird & wrong - 4years + 12 months?"
4 years + 12 months + 2 days? this is crazy town! it should say... 4 years 11 months and some days....

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ec739557-40c8-4b85-9a6b-54f480d912c0)

[2021-12-19 18:33] laurenluz opened #350 "When you unstake NFTs, you also harvest corresponding rewards, but this is not communicated to the user!"
- [x] This button needs to say "Unstake & Harvest" (and should be pink)
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a38832ae-6753-4df2-9158-de8387faefac)

- [x] When the user clicks it, they get the harvest modal, it should have a title at the top (where the arrow is in the pic below) that says "Rewards earned by your NFT" with a "?"
- [x] The "?" is a hover tooltip

[2021-12-19 19:03] laurenluz commented on #340
Nice changes!

1. GIVfarm is great
2. GIVgarden - let's make it "_Engage in Governance_" (take out "community" because it's not technically correct). Also, I think we should change the subtext... "_Participate in Giveth governance using the **GIVgarden**. Wrap GIV to vote on proposals and earn rewards._"
3. GIVbacks - Let's do "_Donate & get GIV back_"...Better than "to" because getting GIV should

[2021-12-19 20:14] laurenluz opened #351 "Harvest modal is "too damn big""
@MohammadPCh I think you noticed this already right? when the user has GIVbacks, the harvest modal is too big in the screen... and I can't scroll around it.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/90c8d29d-5125-4360-b779-ac2de1d66e99)

https://imgflip.com/i/5ygtp2

[2021-12-19 20:15] laurenluz opened #352 "Harvest modal - this title is wrong & confusing!!"
It should not say "Claimable from GIVdrop" here at the top...

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/8e6bd30a-a70f-4a23-bec1-44ae5953e20a)

[2021-12-20 02:46] laurenluz commented on #254
## They're still bigger than the others:

![image](https://user-images.githubusercontent.com/75490971/146704379-01a283b2-6227-4287-89da-550039f3059e.png)

![image](https://user-images.githubusercontent.com/75490971/146704409-c782d3ef-ad9f-422f-a9c7-b81abf41279b.png)

## Can we make them like this?

![image](https://user-images.githubusercontent.com/75490971/146704453-af648061-7839-4a26-85a1-2a96e7

[2021-12-20 02:48] laurenluz commented on #341
can you facilitate it @divine-comedian ?

[2021-12-20 02:55] laurenluz commented on #347
#338

[2021-12-20 02:55] #347 closed

[2021-12-20 02:59] laurenluz commented on #317
It would be good if we could have everything connected to the configuration so we don't need to manually update each link with the new deployment.

Can you please go through the GIVeconomy and make sure that all the links like "provide liquidity" are not hard-coded, but connected to the deployment configuration.

[2021-12-20 03:05] laurenluz commented on #324
This is the correct link: https://gardens-staging.1hive.org/#/xdai/garden/0xbf2d7d659e45bb0ded75d89eaf5f267fd1ce0ade

[2021-12-20 10:33] MohammadPCh commented on #351
@Lauren, I think we need a design for it, for example we ca decrease Padding and margins.
or maybe use 2 column for it.
I recommend not using scroll for modal.

[2021-12-20 10:59] MohammadPCh commented on #288
@laurenluz, Could you please give me UX writing for this alert?

[2021-12-20 13:49] divine-comedian commented on #341
aye aye capitaine

[2021-12-20 14:38] laurenluz opened #353 "Harvest modal is a bit long and crazy"
When there are GIVbacks and all the things, it looks really big and wild:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/8bf1ae64-5fce-46be-958b-7f21d3d9a9e0)

Pedro suggested something like this, but let's decide how to fix it post-launch. @markoprljic could perhaps help us w designs (but after launch!)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523

[2021-12-20 14:47] markoprljic commented on #353
Yes, this works!

[2021-12-20 17:16] divine-comedian commented on #340
okay - changes are pending https://github.com/Giveth/liquidity-mining-dapp/pull/62

[2021-12-20 17:39] #324 closed

[2021-12-20 17:39] #317 closed

[2021-12-20 17:57] laurenluz opened #354 "Make Internal GIVeconomy AMA"

[2021-12-20 19:09] #326 closed

[2021-12-20 19:09] #304 closed

[2021-12-20 19:09] #351 closed

[2021-12-20 19:09] #349 closed

[2021-12-20 19:10] #78 closed

[2021-12-20 19:11] #306 closed

[2021-12-20 19:11] #157 closed

[2021-12-20 19:11] #76 closed

[2021-12-20 19:13] #221 closed

[2021-12-20 19:14] #277 closed

[2021-12-20 22:50] laurenluz commented on #313
once we push to production Kay can make that happen

[2021-12-21 01:48] laurenluz opened #355 "GIVdrop "You have x to claim" text should be bold"
it's like this: ![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/9054d3c1-9f04-4667-aa6e-9d15258f6418)

it should be this: ![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1ee206f0-950d-4cd4-b741-23699b96d3a6)

[2021-12-21 01:50] laurenluz opened #356 "GIVdrop - Donate page formatting is weird"
The GIVbacks box has too much space at the bottom.

Also, there should be some space after the "The following calculators demonstrate..." text

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/5e5d5c3a-bfd8-4469-9c52-1c1d0c999abc)

[2021-12-21 01:58] laurenluz opened #357 "GIVdrop - donate, govern & stake pages all need a little help... not looking like the designs..."
- [x] Too much space at the top and too little at the bottom on all slides....
- [x] Govern page... elements look really crowded together....
- [x] Donate page: text should say "Donate & get GIV back" not GIVback
- [x] GIVbacks & streaming box has too much space at the bottom

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/cf1ccea2-6c23-4ae1-a06f-d6dd60bd11fb)

![image.

[2021-12-21 01:59] laurenluz commented on #357
here's a link to the figma for reference... some of the details have changed, but the spacing looks way better on there: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=741%3A61473

[2021-12-21 02:00] #356 closed

[2021-12-21 02:10] laurenluz opened #358 "GIVdrop - why are we imposing "GIV" and onto this token - this is a test token called DRGIV!!! Also, the logo being added needs to be updated"
Using the "add to metamask" in the GIVdrop.

The token I'm adding is DRGIV. It should be adding DRGIV... not DRGIV pretending it's GIV. **When importing the token we should use the default symbol from the contrac**t.

I like that we're adding the logo, but it should be this one: https://github.com/Giveth/giveth-design-assets/blob/master/02-logos/GIV%20Token/GIVToken_200x200.png

![image.png](https

[2021-12-21 02:11] laurenluz opened #359 "GIVdrop - I did not claim this!! and I'm getting the congratulations screen"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/77673f1d-d6fd-43d2-a8cd-17d1684fbd39)

[2021-12-21 02:11] #299 closed

[2021-12-21 07:20] MohammadPCh commented on #357
@laurenluz I think it's better to have a new design for GIVdrop. because the old design is useless. the old desingn is not based on design system also  most of texts, boxes and buttons changed. maybe @markoprljic  can help us.

[2021-12-21 07:29] markoprljic commented on #357
What kind of help do you need precisely? @MohammadPCh

[2021-12-21 08:43] MohammadPCh commented on #357
I think @laurenluz  should decide, but we didn't have design for  GIVdrop, old design is useless because many things changed.

[2021-12-21 08:54] aminlatifi commented on #311
Done

[2021-12-21 08:57] aminlatifi commented on #331
subgraph (thegraph) nodes sometimes are a few minutes behind the latest block! that leads to events being processed late and consequently, our numbers will not be updated immediately. I and @mohammadranjbarz

[2021-12-21 09:45] markoprljic commented on #357
I'm still a bit unclear, what to decide? What should be done by me given I provided the design revisions already?

[2021-12-21 11:53] mendesfabio opened #360 "GIVfarm - harvest confirmed modal appears after cancelling transaction"
https://www.loom.com/share/8d0e3939bea6444fbd97b82dc814a46c

Also, the harvest button gets full width on pending state.

[2021-12-21 12:37] MohammadPCh commented on #357
can I have the last version?
because what I have is completely different from the design.
this is our preview link:
https://develop-liquidity-mining-dapp-git-feature-fix-g-4b8351-givethio.vercel.app/

[2021-12-21 12:44] markoprljic commented on #357
The latest version is in Figma and I'd expect this one to be deployed, unless there are objections and valid reasons not to use it.

[2021-12-21 13:49] aminlatifi commented on #331
@divine-comedian I applied some changes in our subgraph and deployed the new version. That probably will solve the issue of tardiness.

[2021-12-21 13:49] aminlatifi commented on #331
Thanks @mohammadranjbarz for following up the issue on thegraph discord.

[2021-12-21 14:35] laurenluz opened #361 "GIVdrop - congratulations page should have SVG animations"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/6f9582ec-5284-4d87-8254-a862d7facb94)

@markoprljic can answer any questions!

[2021-12-21 14:36] laurenluz opened #362 "GIVdrop - review GIVdrop and make any necessary design fixes"
@MohammadPCh & @markoprljic to coordinate on this

[2021-12-21 14:36] laurenluz opened #363 "GIVdrop - on harvest modal, change the "Harvest" button text to say "Claim""

[2021-12-21 14:37] divine-comedian commented on #331
testing on staging - I went through and tested  unstaking, staking and harvesting on all farms on xDAI - everything was super fast in updating on the UI - within seconds from when the transaction was passed.

[2021-12-21 14:39] aminlatifi commented on #331
Thanks @divine-comedian . So I close it and if it happens again we could reopen this issue.

[2021-12-21 14:39] #331 closed

[2021-12-21 14:40] markoprljic commented on #361
https://lottiefiles.com/68461-sparkle-burst
https://lottiefiles.com/85931-sparkle
https://lottiefiles.com/18881-blowing

 I added some animated SVG's here to make this success page juicy :)

The first two at the top should play only once.
The one at the bottom next to the button should loop.
I'd like to see how this feels like in the browser so please when you add that send me the link to preview.

[2021-12-21 14:41] markoprljic commented on #362
On final screen change Harvest to Claim.
Add SVG animations provided.

[2021-12-21 14:46] divine-comedian commented on #341
I created three decision votes and alll of them passed but none of them are executable... I reached out to Gardens for support

[2021-12-21 17:31] laurenluz commented on #84
NICE! so we are on coin gecko... all we need to do now is tell them our circulating supply.

we'll apply to CMC after launch :)

[2021-12-21 17:36] Zeptimus commented on #84
Blessed by Griff network haha :D

[2021-12-21 17:57] laurenluz commented on #341
jeepers! ok well thanks for checking!

[2021-12-21 19:24] divine-comedian commented on #358
the token symbol and the ticker seem to be updated when I try to load it using the metamask link

![image](https://user-images.githubusercontent.com/67759413/146986362-44618387-f255-45fd-b6ea-c83201c4717d.png)

[2021-12-21 19:26] divine-comedian commented on #355
the text is now BOLD - testing on staging

![image](https://user-images.githubusercontent.com/67759413/146986538-24ff10b0-a472-473e-9b61-549473ed41fe.png)

[2021-12-21 19:31] divine-comedian commented on #332
testing this out on staging this is the current modal that shows up when I harvest rewards in the givfarm on xdai -
![image](https://user-images.githubusercontent.com/67759413/146986921-fda2683c-6f61-446b-8f9e-a9583b0fd097.png)

this doesn't quite follow the commented photo in the issue - not sure what was decided in conversations out of this issue -
@laurenluz  can you verify this is what you wer

[2021-12-21 19:32] divine-comedian commented on #359
@pkretzschmar  what's the best way to test this issue?

[2021-12-21 19:37] divine-comedian commented on #344
the back arrows are in and are functional across all pages -
![image](https://user-images.githubusercontent.com/67759413/146987586-1762c344-9fc8-4ddf-a4e9-dc35900a218c.png)

 the givdrop design is much more responsive now and the arrow buttons are no longer clipped off by smaller screen resolutions

 looks to be resolved! moving to done, nice work guys!

[2021-12-21 19:41] pkretzschmar commented on #359
You have to go thought the entire claim process.

[2021-12-21 19:46] divine-comedian commented on #350
testing on staging - when I click unstake I am taken to this small modal - I click Unstake & Harvest - there is however on harvest modal that pops up - it generates the metamask transaction straight away - also the pending button styling is too long and gets cut off by the edge of the modal
![image](https://user-images.githubusercontent.com/67759413/146988345-793da51a-ab56-4b23-9c97-80663cd0d3dd.p

[2021-12-21 19:51] divine-comedian commented on #254
testing on staging

when staking and unstaking my NFT I can see the state changes of the button and it says pending - however as mentioned in another issue the pending button is too wide ..
![image](https://user-images.githubusercontent.com/67759413/146989188-83c9ffc7-5787-4d52-a3db-6979c4a68a43.png)

checking the size of the transaction pending and transaction successful modals they look to be br

[2021-12-21 19:59] divine-comedian commented on #348
testing on staging with brave browser and firefox

I can still navigate between pages using tab - this should be disabled no?
![image](https://user-images.githubusercontent.com/67759413/146989646-b65bf81e-7ff4-4bbb-8725-471fb8562153.png)

in the GIVdrop input fields I can put in negative values and decimals, I cannot use a comma, only periods are accepted
![image](https://user-images.githubusercon

[2021-12-21 20:03] divine-comedian commented on #352
testing on staging -

checking all of the harvest modals on kovan and xdai they seem to be updated and consistent -
![image](https://user-images.githubusercontent.com/67759413/146990784-8e4cb2a0-b46f-41f5-a43b-f78b67dd725e.png)

the givdrop reference is removed as well as the output numbers from the givdrop and its related givstream - looks to be resolved!

[2021-12-21 20:06] divine-comedian commented on #336
this issue looks to be good except for the issue of the pending button being way too wide - this was mentioned in several other issues -
![image](https://user-images.githubusercontent.com/67759413/146991147-bec84526-dd01-4c11-a039-279bd2c08926.png)
oops ...
![image](https://user-images.githubusercontent.com/67759413/146991186-f57e5158-767c-4f42-8889-79d71c85ff96.png)

[2021-12-21 20:15] divine-comedian commented on #177
looks to be much more responsive - the smaller versions (mobile) still needs some work but I can see in the comments that this will be for later..

the only issue I found was on the claim/stake page - you could remove some of the bottom margin from the header element when the screen is less than 1150px wide
![image](https://user-images.githubusercontent.com/67759413/146992117-b40abbfa-c755-4803-8b

[2021-12-21 20:17] divine-comedian commented on #334
I can't test this issue because my GIVdrop has already been claimed!

[2021-12-21 20:44] mendesfabio commented on #350
PR with fixes hasn't yet been opened.

[2021-12-21 20:45] mendesfabio commented on #348
WIP at https://github.com/Giveth/liquidity-mining-dapp/pull/64

[2021-12-21 20:48] mendesfabio commented on #254
https://github.com/Giveth/liquidity-mining-dapp/pull/64 will fix this issue.

[2021-12-21 20:56] divine-comedian commented on #267
added in a small section to the GIVdrop claim tutorial https://hackmd.io/jRfk1T_ER76xFPtveA74Lg#If-you-get-stuck-in-the-GIVdrop-claim

when this goes live I can provide a direct link to the section in the docs

[2021-12-21 21:44] pkretzschmar commented on #358
@divine-comedian This happens when the user try to add the token one time, but just closes the metamask, and click again. It kind of stacks

[2021-12-21 23:27] laurenluz commented on #332
It looks right! The GIVdrop should only show up if you hadn't claimed yet.

I haven't claimed w my address yet so can test this to be sure later, but if you claimed already, that looks correct

[2021-12-22 04:58] #352 closed

[2021-12-22 04:58] #344 closed

[2021-12-22 04:58] #355 closed

[2021-12-22 04:58] #311 closed

[2021-12-22 04:59] #264 closed

[2021-12-22 04:59] #272 closed

[2021-12-22 04:59] #330 closed

[2021-12-22 04:59] #338 closed

[2021-12-22 05:00] #339 closed

[2021-12-22 05:00] #318 closed

[2021-12-22 05:00] #321 closed

[2021-12-22 13:51] GriffGreen opened #364 "Update our Etherscan & Blockscout for our token"
https://etherscan.io/token/0x900db999074d9277c5da2a43f252d74366230da0

Add the logo and all that

[2021-12-22 13:55] GriffGreen opened #365 "Follow up with Etherscan to remove all the old Giveth labels and add new ones"
Griff sent requests to etherscan... now he needs to use his social clout to get them to happen!

If he can get labels on the old things that would be cool too

[2021-12-22 14:26] laurenluz commented on #357
Most recent deploy preview for testing: https://develop-liquidity-mining-dapp-git-feature-fix-c-b39907-givethio.vercel.app/claim

[2021-12-22 15:24] divine-comedian commented on #254
@mendesfabio when this is merged please update so it can be tested

[2021-12-22 15:28] divine-comedian commented on #358
yes you're right -  I did a fresh load and this is resolved - moving to DONE

[2021-12-22 15:30] divine-comedian commented on #359
@laurenluz -  I have already claimed  - you mentioned not having claimed yet - this is impossible to test without using a connected wallet that has received a GIVdrop

[2021-12-22 16:16] #247 closed

[2021-12-22 16:37] laurenluz commented on #341
any news from gardens? you can ask also in the GIVgarden deployment chat @divine-comedian

[2021-12-22 17:03] divine-comedian commented on #341
Gabi reached out - testing adding in the new permissions for disputable-voting (they were missing) and then I will retry to run changing our decision voting settings

[2021-12-22 17:11] divine-comedian commented on #280
testing on staging - clean cache and cookies

APR is showing up fine for me - I'm not able to reproduce this issue - looks to be resolved? moving to DONE
![image](https://user-images.githubusercontent.com/67759413/147129924-02fc0edf-e060-4b74-a53a-570ac3f6334e.png)

[2021-12-22 17:23] divine-comedian commented on #253
tested unstaking from all farms on xdai and kovan - the transaction successful and transaction pending modals show up everytime!
![image](https://user-images.githubusercontent.com/67759413/147131450-c745a043-2876-4315-aa8a-01fd5417212b.png) looks to be resolved!

[2021-12-22 17:38] divine-comedian opened #366 "remove check wallet feature from GIVdrop connect page & add clarifying text"
we made some changes to how a user can claim their GIVdrop in the smart contract - only connected users can claim a GIVdrop for their connected wallet. Because of this change it is kind of pointless for a user to check an address that they cannot connect to - they won't be able to claim the GIVdrop for that address anyway

I'm suggesting to remove this input from the connect page
![image.png](http

[2021-12-22 17:49] divine-comedian commented on #350
testing out the PR -

nice looking modal!

![image](https://user-images.githubusercontent.com/67759413/147134452-d0c75294-1e64-4863-a708-1fac34d9f22f.png)

I'll wait for this PR to merge

[2021-12-22 17:57] mendesfabio commented on #350
If everything looks good could you ask for someone to review the PR? I'm
AFK right now, thank you :)

Em qua., 22 de dez. de 2021 às 14:49, Mitch ***@***.***>
escreveu:

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signatureviral

[2021-12-22 18:00] divine-comedian commented on #307
this is on the overview page - looks to be resolved! nice
![image](https://user-images.githubusercontent.com/67759413/147135673-b936b697-7fc0-4439-8c78-d47eff75f726.png)

[2021-12-22 18:01] WhyldWanderer commented on #359
I just claimed on Deployment 6... I only received the congratulations screen after claiming. The flow seems to be working correctly for me.

[2021-12-22 18:03] divine-comedian commented on #340
changes are in and live on staging!

![image](https://user-images.githubusercontent.com/67759413/147136016-6147ab05-7185-41f7-8da9-2b602c6e6068.png)

moving to DONE

[2021-12-22 18:08] WhyldWanderer commented on #334
I just claimed on deployment 6 and my blockscout link worked as expected.

[2021-12-22 18:18] WhyldWanderer commented on #269
I just claimed on Deployment 6 and the waiting modal is still not updated.
![image](https://user-images.githubusercontent.com/74267818/147137574-32d59ff4-07b0-411e-8277-feec0c465e3a.png)

[2021-12-22 18:31] divine-comedian commented on #350
I'm definitely not qualified enough to review this PR - @MohammadPCh  @pkretzschmar ?

[2021-12-22 18:32] divine-comedian commented on #334
nice! moving to DONE

[2021-12-22 19:03] divine-comedian opened #367 "client-side error while claiming GIVdrop"
I put in an address while I was not connected to on the DApp and went through to claim on the final page and hit this error -

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/02ffdf75-606a-44b7-a457-0603c3fac2b9)
[code]

[2021-12-22 19:25] divine-comedian commented on #341
the permissions updated successfully and I was able to change our Tao Voting settings - just need to confirm some of the algorithms used to calculate time in the disputable-voting app - I would call this issue done however

[2021-12-22 19:36] divine-comedian commented on #267
@pkretzschmar  here's a link you can add directly on the page for users to learn more about troubleshooting getting stuck - https://docs.giveth.io/giveconomy/givdrop/#if-you-get-stuck-in-the-givdrop-claim

[2021-12-22 19:48] divine-comedian commented on #282
nice - we add in the little link so users have a way to go back in case they missed the GIVdrop -
![image](https://user-images.githubusercontent.com/67759413/147147350-3e78bb80-61ff-4642-9aa4-70ceb73a5e05.png)

moving to done

[2021-12-22 19:55] divine-comedian commented on #274
lauren tested! this is done!

[2021-12-22 19:58] divine-comedian commented on #314
the token address is subject to change! the address should be included in an env variable somewhere
currently still deploying new tokens and contracts so will have to check on the latest test deployment which token to use - https://www.notion.so/giveth/Testing-Deployment-218c3f503a04421ba3f51e438f4d6acf

[2021-12-22 20:46] GriffGreen opened #368 "Lower the gas costs on the claim tx and check the gas costs for other txs!"
![Screen Shot 2021-12-22 at 2 30 54 PM](https://user-images.githubusercontent.com/14945613/147152823-66ad55e8-0ee5-4846-8c1a-2b8087e810a6.png)

These are mainnet gas fees on xdai... Did this happen because of us, or is it something metamask is doing? if we put 3 for max priority fee and 4 for Max fee we won't have any issues...

This might be a priority setting tho...

[2021-12-23 02:58] laurenluz commented on #350
@mendesfabio @pkretzschmar it looks really good except when I unstake and harvest, I am also going to be getting any liquid rewards from my GIVstream on mainnet... the harvest modal should reflect this.

## what it is now

![image](https://user-images.githubusercontent.com/75490971/147181285-57895c1c-dd9b-4577-9006-1df4dbacc68f.png)

## what it should be (more of less)

the title is from the other

[2021-12-23 03:06] laurenluz opened #369 "GIVdrop - the "Join our Discord" link needs to be updated"
"Join our discord" is linking (incorrectly to the swag shop)... it should like to: https://discord.giveth.io/

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/4c2238b6-1b15-4e41-9786-9aee22a405a0)

[2021-12-23 03:08] laurenluz opened #370 "GIVdrop - "Explore the GIVeconomy" should open in a new tab"
Right now it is opening in the same tab and the user misses all the other links! All the links should open in a new tab... this is the only one that isn't right now

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/98c148f4-d520-482d-ad13-b191d7f7b88a)

[2021-12-23 03:09] #282 closed

[2021-12-23 03:09] #359 closed

[2021-12-23 03:09] #253 closed

[2021-12-23 03:09] #280 closed

[2021-12-23 03:10] #358 closed

[2021-12-23 03:10] #288 closed

[2021-12-23 03:10] #263 closed

[2021-12-23 03:11] #332 closed

[2021-12-23 03:11] #340 closed

[2021-12-23 03:11] #334 closed

[2021-12-23 03:11] #274 closed

[2021-12-23 03:11] #307 closed

[2021-12-23 03:15] laurenluz commented on #314
@pkretzschmar @divine-comedian can we move this done? is it using an env variable that is unique to that deployment? or does it still need to be manually updated?

[2021-12-23 03:21] laurenluz commented on #366
@MohammadPCh some clarification:

- [ ] please keep the ability to see the address... just remove the ability for the user to input it manually. this way, after they connect wallet, they can see which address is connected and we don't make the design look weird.
- [ ] please add small text underneath the address field that says "What if this address doesn't match the address in my wallet?" and lin

[2021-12-23 03:21] laurenluz commented on #267
added this to #366 since Cherik was working on it already, moving to done since it's covered there

[2021-12-23 03:23] laurenluz commented on #336
fixed
![image](https://user-images.githubusercontent.com/75490971/147183320-ff06096b-8d94-4087-8f98-1413d6b73e94.png)

[2021-12-23 03:23] #336 closed

[2021-12-23 03:24] laurenluz commented on #254
fixed!

![image](https://user-images.githubusercontent.com/75490971/147183375-6d49e891-de68-4d89-bb95-700bdc64ff8e.png)

[2021-12-23 03:24] #254 closed

[2021-12-23 03:24] laurenluz commented on #287
works!

[2021-12-23 03:24] #287 closed

[2021-12-23 03:27] laurenluz commented on #360
oooh nice attention to detail. tested and looks good!

![image](https://user-images.githubusercontent.com/75490971/147183656-8e4638f6-afcf-4674-b15b-292780878345.png)

[2021-12-23 03:27] #360 closed

[2021-12-23 03:29] laurenluz commented on #343
moving to done, if we get more feedback after launch we can make adjustments for comms

[2021-12-23 03:32] #185 closed

[2021-12-23 03:33] #120 closed

[2021-12-23 03:33] #5 closed

[2021-12-23 03:33] #4 closed

[2021-12-23 03:33] #3 closed

[2021-12-23 03:33] #8 closed

[2021-12-23 03:33] #7 closed

[2021-12-23 03:33] #10 closed

[2021-12-23 03:37] laurenluz commented on #364
This is the token logo: https://github.com/Giveth/giveth-design-assets/blob/master/02-logos/GIV%20Token/GIVToken_200x200.png

@aminlatifi the contract deployer needs to add these

I think we should do this last minute though to make sure we are doing it for the *right* *final* tokens

[2021-12-23 03:39] laurenluz commented on #348
changes were merged 10 hrs ago, looks to be ready to test

[2021-12-23 03:39] laurenluz commented on #310
redundant w #364

[2021-12-23 03:39] #310 closed

[2021-12-23 03:40] laurenluz commented on #368
@MohammadPCh is this clear?

[2021-12-23 03:41] laurenluz commented on #94
not possible

[2021-12-23 03:41] #94 closed

[2021-12-23 04:23] GriffGreen commented on #348
I pressed tab and it sent me from the first page all the way to the last page... but in a very broken way

<img width="1376" alt="Screen Shot 2021-12-22 at 10 21 51 PM" src="https://user-images.githubusercontent.com/14945613/147187541-e808da28-49ce-46d6-aead-961107c12733.png">

Notice the is the "Govern" page according to the top and that the page is way off center.

[2021-12-23 04:27] GriffGreen commented on #303
This needs to be redone?

[2021-12-23 04:42] GriffGreen commented on #363
<img width="428" alt="Screen Shot 2021-12-22 at 10 42 05 PM" src="https://user-images.githubusercontent.com/14945613/147189017-76d4cb57-562f-45b9-a4c4-e136ef556f29.png">

Says claim... but also says 250 GIV... but then they get more than that, maybe it should just say CLAIM and leave out the 250?

[2021-12-23 04:44] GriffGreen commented on #314
Its linking to the right token now

[2021-12-23 04:51] GriffGreen opened #371 "Links on congrats page dont work goes to 404"
![Screen Shot 2021-12-22 at 10.51.09 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/b558eccb-5376-448f-9244-3e5712dfcb41)![Screen Shot 2021-12-22 at 10.51.27 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/1e65f6b4-3f1c-414c-9928-77f0912d2ac1)

![Screen Shot 2021-12-22 at 10.51.43 PM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/64f

[2021-12-23 04:53] GriffGreen commented on #362
Animation work on the final page but not the page if you go back to claim with an address that already claimed
<img width="1067" alt="Screen Shot 2021-12-22 at 10 53 24 PM" src="https://user-images.githubusercontent.com/14945613/147189874-c6361059-3714-4c46-9819-d29a3d1d26bd.png">
.

[2021-12-23 04:54] #362 closed

[2021-12-23 04:54] GriffGreen commented on #361
Animation work on the final page but not the page if you go back to claim with an address that already claimed
<img width="1067" alt="Screen Shot 2021-12-22 at 10 53 24 PM" src="https://user-images.githubusercontent.com/14945613/147189874-c6361059-3714-4c46-9819-d29a3d1d26bd.png">
.

[2021-12-23 04:55] GriffGreen commented on #357
need you looking over my shoulder to test this @laurenluz

[2021-12-23 12:04] divine-comedian commented on #348
tested the number inputs on the GIVdrop pages -
no more negative numbers! also when i try to enter a comma it inputs a period for the decimal places! just need to fix the tab issue Griff described above and this should be good to go!

[2021-12-23 12:07] Zeptimus commented on #84
Do we know our circulating supply? @aminlatifi @laurenluz

[2021-12-23 13:45] laurenluz opened #372 "GIVdrop - Add to metamask *should NOT* impose a symbol onto the token"
When you add to metamask the symbol should be read from the token contract...

I'm in deployment 6. This token is in my wallet already. It's DRGIV2. It SHOULD NOT call it DRGIV... I made this issue before, but I think perhaps I wasn't clear enough...

Please do not change the symbol now to impose "DRGIV2" *read the symbol from the token contract*. This alert in Metamask makes us look sketchy and s

[2021-12-23 13:50] laurenluz commented on #372
fyi though, adding the image as the logo is fine and great, so let's leave that.

[2021-12-23 13:51] #73 closed

[2021-12-23 13:51] #16 closed

[2021-12-23 13:51] #343 closed

[2021-12-23 13:51] #206 closed

[2021-12-23 13:53] laurenluz commented on #363
@MohammadPCh please take out the GIVdrop amount from the button so it just says "claim"

[2021-12-23 13:53] #17 closed

[2021-12-23 13:53] #293 closed

[2021-12-23 13:53] #267 closed

[2021-12-23 14:42] #314 closed

[2021-12-23 15:20] WhyldWanderer commented on #372
This is happening on Deployment 7 as well
![image](https://user-images.githubusercontent.com/74267818/147260054-3078f243-c6fb-48fb-bba0-e6b1b0a3e941.png)

[2021-12-23 15:20] laurenluz opened #373 "GIVdrop - user needs to be prompted to switch to xDai"
the calculators etc don't work if the user isn't on xDai... when they connect wallet, and it says "you have x to claim"... if they are not connected to xDai there should be a popup

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a933ba79-abaa-45a2-9318-4647bb3f8898)

[2021-12-23 15:22] laurenluz opened #374 "GIVdrop - Disclaimer text fix"
This should say "These calculators..."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0ab693a6-af3b-4a15-ab57-8623052b2186)

[2021-12-23 15:23] laurenluz opened #375 "GIVdrop - claim page text fix"
Highlighted part should say "Let's Build the Future of Giving, together."

And let's make the button just say "claim"

![image](https://user-images.githubusercontent.com/75490971/147260652-110e8ad2-bf84-4270-a0d6-2e2f4dc97f9d.png)

[2021-12-23 15:28] laurenluz opened #376 "GIVdrop - govern page title text font size is smaller than the other pages"
Let's bump up the font size on the "Govern" page so it doesn't look so weird after the "donate" page

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/e03cc9df-c73e-48d1-9fa0-d7b383a7e51b)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c767903f-85d4-4483-95f8-6a9c835cd162)

[2021-12-23 15:31] MoeNick opened #377 "Claim your airdrop should open in new tab"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/dcf9ce6d-3a86-43d9-8af6-55b48e3e2688)

[2021-12-23 15:31] laurenluz opened #378 "Univ3 pool is the user is not staking NFT, APR says 0%"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/142055c8-d54c-45a2-bd97-67c94faba7e0)

[2021-12-23 15:32] WhyldWanderer opened #379 "GIVdrop Congratulations page - "claim from another address" not working"
I went through the GIVdrop claim flow on Deployment 7.
On the 'congatulations' page, the 'claim from another address' link is not working.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/86a49f97-a44a-4e95-9206-941444cc06f4)

@MoeNick says "If I connect a different wallet before clicking the link, it works"

I do not have this same experience... it doesnt work for me ev

[2021-12-23 15:36] GriffGreen commented on #98
https://omni.xdaichain.com/bridge

@markoprljic can you make a quick mock up?

[2021-12-23 15:39] laurenluz commented on #372
@mendesfabio so what was the final thought here? we're going to update them manually before every deployment?

[2021-12-23 15:41] laurenluz commented on #84
not yet! I think today we will have it @Zeptimus

[2021-12-23 15:49] divine-comedian commented on #371
I can't seem to reproduce this issue Griff - all the links on the congrats page are linking externally so the slugs aren't showing up like in your screenshots

[2021-12-23 15:55] divine-comedian commented on #371
looks to be resolved with deployment 7 - moving to DONE

[2021-12-23 15:58] laurenluz opened #380 "Final deployment - links we need to update!"
- [x] "Add to Metamask" in GIVdrop should be the right token (GIV on xDai)
- [x] "Open GIVgarden" on giv.giveth.io/givgarden should link to the real garden (there are 2 buttons)
- [x] "See proposals" on overview page should link to the real garden
- [x] "See proposals" on GIVstrema page should link to the real garden
- [x] GIVbacks page "Verify your project" should link to https://giveth.typeform.

[2021-12-23 16:01] markoprljic commented on #98
![Image 2021-12-23 at 4 42 58 pm](https://user-images.githubusercontent.com/5704285/147264671-7aa9925f-51c7-406b-8190-f2dea252c853.jpg)

[2021-12-23 16:01] WhyldWanderer opened #381 "GIVeconomy Deployment 7 - Wrong garden linked"
When I go to GIVgarden fromt he GIVgarden page, It takes me to an old garden:
![image](https://user-images.githubusercontent.com/74267818/147263719-931e21e5-ff84-4d0e-9a84-dbed8a5b5b2d.png)

It directs me here: https://gardens-staging.1hive.org/#/xdai/garden/0xbf2d7d659e45bb0ded75d89eaf5f267fd1ce0ade

It should direct me to here: https://gardens-staging.1hive.org/#/xdai/garden/0x16388d99199a74810f

[2021-12-23 16:11] GriffGreen opened #382 "Weird flashing on the kovan farm"
https://imgflip.com/gif/5yw7fp

^^^ Sort of a problem

[2021-12-23 16:31] laurenluz opened #383 "GIVstream page - tool tip text is wrong"
Text should be: "The rate at which you receive liquid GIV from your GIVstream"

@divine-comedian can you fix this?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0274b61b-8854-470d-81fa-ae42ca62ed3c)

[2021-12-23 16:40] divine-comedian commented on #303
duplicate of #375

[2021-12-23 16:42] divine-comedian commented on #303
pending on https://github.com/Giveth/liquidity-mining-dapp/pull/73

[2021-12-23 16:42] divine-comedian commented on #376
changes pending on https://github.com/Giveth/liquidity-mining-dapp/pull/73

[2021-12-23 16:42] divine-comedian commented on #375
changes pending on https://github.com/Giveth/liquidity-mining-dapp/pull/73

[2021-12-23 16:42] divine-comedian commented on #374
changes pending on https://github.com/Giveth/liquidity-mining-dapp/pull/73

[2021-12-23 16:52] divine-comedian commented on #383
meging into develop - https://github.com/Giveth/liquidity-mining-dapp/commit/54391cbb4dd1d00c263fa862699a62b3df8c586a

[2021-12-23 18:19] GriffGreen opened #384 "Top up the xDAI token distro to what it would be if it had 920mil"
We are sending 910 mil to it

Then when the deployment is all working, it will get whatever tokens we didnt have to use... it will need probably around 100,000 tokens to be topped up.

[2021-12-23 18:24] laurenluz opened #385 "GIVstream ends on Dec 23, 2026!"

[2021-12-23 20:03] WhyldWanderer opened #386 "Create Tao vote to update the Covenant in the Gardens"
We missed a link in the LIVE covenant.

We need to create a TAO proposal in the REAL DEAL garden to change this.

![image](https://user-images.githubusercontent.com/74267818/147286942-6c2168db-d6b6-4229-9120-1a11d20d7c77.png)

Here is the link that should be there: https://docs.giveth.io/whatisgiveth/governanceProcess

[2021-12-23 20:48] laurenluz opened #387 "Make config file for purple list and link to it in our documentation for GIVbacks"
So that users know... only donations in certain tokens are eligible for GIVbacks... but we should make this list editable/accessible by devs

FYI @mateodaza @WhyldWanderer @mohammadranjbarz

[2021-12-23 20:52] #348 closed

[2021-12-23 20:59] #377 closed

[2021-12-23 21:00] #303 closed

[2021-12-23 21:02] laurenluz commented on #177
boom
![image](https://user-images.githubusercontent.com/75490971/147291222-9cd9518d-22a0-43e1-8e7e-5a0c82425751.png)

[2021-12-23 21:02] #177 closed

[2021-12-23 21:03] laurenluz commented on #357
they look great

[2021-12-23 21:03] #357 closed

[2021-12-23 21:03] laurenluz commented on #366
working great

[2021-12-23 21:03] #366 closed

[2021-12-23 21:05] laurenluz commented on #269
It's working just fine!

![image](https://user-images.githubusercontent.com/75490971/147291374-9a262687-46ab-4037-a76d-a436355e9982.png)

[2021-12-23 21:07] #369 closed

[2021-12-23 21:07] #363 closed

[2021-12-23 21:07] #370 closed

[2021-12-23 21:07] #361 closed

[2021-12-23 21:07] #269 closed

[2021-12-23 21:07] #376 closed

[2021-12-23 21:07] #375 closed

[2021-12-23 21:07] #374 closed

[2021-12-23 21:08] #378 closed

[2021-12-23 21:08] #371 closed

[2021-12-23 21:08] #74 closed

[2021-12-23 21:09] laurenluz commented on #379
it works now

[2021-12-23 21:09] #379 closed

[2021-12-23 21:09] #333 closed

[2021-12-23 21:10] #322 closed

[2021-12-23 21:10] #372 closed

[2021-12-23 21:12] laurenluz commented on #381
it's correct now

[2021-12-23 21:12] #381 closed

[2021-12-23 21:12] #383 closed

[2021-12-23 21:27] WhyldWanderer commented on #387
Why only certain tokens? which ones? I thought they were all included?

[2021-12-23 21:27] laurenluz opened #388 "GIVstream text fixes"
- [x] In the modal, we need to update the end date to be December 23, 2026
- [x] Change GIVstream subtext to be "Your GIVstream provides a continuous flow of claimable GIV until December 23, 2026. Anyone can get or increase their GIVstream by participating in the GIVeconomy."
- [x] Change Expanding GIViverse subtext to be "The GIVeconomy begins humbly but as time passes, the GIViverse expands and

[2021-12-23 21:28] mateodaza commented on #387
Maybe some tokens don't have value at all, we can't count those as donations

[2021-12-23 21:28] laurenluz commented on #385
covered in #388

[2021-12-23 21:31] WhyldWanderer commented on #387
Ohh how many tokens do we accept for donations that wouldnt be eligible for GIVbacks?
Do accept tokens with no value for donations?

[2021-12-23 21:36] #354 closed

[2021-12-23 21:42] #385 closed

[2021-12-23 23:14] willyogo opened #391 "Unable to paste address in GIV drop flow"
I'm currently unable to paste an address to check to see if it is eligible for the GIV drop on the /claim page on the prod deployment

Steps to reproduce:
1. Navigate to https://giv.giveth.io/claim
2. Attempt to paste an address

Expected result:
Users can click into the input field, paste an address, and check whether that address is eligible to claim

Actual result:
Users can't click into the in

[2021-12-24 00:17] GriffGreen opened #389 "We need Coingecko to know that we have a better link for our Circulating Supply API"
See https://circulating.dappnode.io/

Ask @eduadiez for support

[2021-12-24 01:25] #391 closed

[2021-12-24 05:15] GriffGreen opened #390 "GIVdrop: Weird text overlap"
<img width="1061" alt="Screen Shot 2021-12-23 at 11 14 42 PM" src="https://user-images.githubusercontent.com/14945613/147319394-3913d87d-4969-45f5-8de7-45bfd530b48e.png">
<img width="296" alt="Screen Shot 2021-12-23 at 11 14 38 PM" src="https://user-images.githubusercontent.com/14945613/147319402-2bc3576f-8a6a-4d1c-a861-0f9e7cb1d8e0.png">

[2021-12-24 12:32] mendesfabio commented on #390
Another one! I'm fixing both.

![image](https://user-images.githubusercontent.com/43360747/147352833-6df3b345-4a21-4be3-a790-4c22e5cc5288.png)

[2021-12-24 13:04] #388 closed

[2021-12-24 13:04] #98 closed

[2021-12-24 13:04] #341 closed

[2021-12-24 13:04] #373 closed

[2021-12-24 14:03] laurenluz opened #392 "When the user has a very small amout of GIV, maybe this should say "<1" or "A little bit""
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1405304f-a336-4160-914b-562bc858e371)

[2021-12-24 14:07] #350 closed

[2021-12-24 14:47] laurenluz commented on #337
Let's make this link to: https://docs.giveth.io/giveconomy/

[2021-12-24 14:55] laurenluz commented on #380
Ok this is great! everything missing will be covred in #337 and Griff's launch checklist

[2021-12-24 16:42] laurenluz opened #393 "Add "add to metamask" on tx pending thing"

[2021-12-24 19:22] Danibelle opened #394 "100% Staking on GIVfarm not updating"
Still shows I have 120,000 to be staked..
![image](https://user-images.githubusercontent.com/39466970/147369941-3d4250e2-c0b9-4e07-a095-486ddf55435a.png)

But the Garden shows correctly that I staked more already:
![image](https://user-images.githubusercontent.com/39466970/147370009-b3f939a2-a152-401d-8878-e8a9e0570a82.png)

[2021-12-24 19:26] Danibelle commented on #394
Harvested, that's not updating in the UI either now..

https://blockscout.com/xdai/mainnet/tx/0xbe9aea732776af7eb7b1bda4414ab718c3e6313b27e75a12d420a1367281534d

![image](https://user-images.githubusercontent.com/39466970/147370123-492948bf-bbb4-42a7-90c2-8e6dbf6b5601.png)

[2021-12-24 19:51] divine-comedian opened #395 "have to approve token spend on every stake on xdai"
I'm adding tokens to stake in the GIVgarden farm on xdai -

everytime I try to stake tokens it asks me to approve I approve and then I need to stake -

is this normal functionality to have to do this everytime?

![image](https://user-images.githubusercontent.com/67759413/147370729-133e5c7a-0502-4ae5-91dd-5bc79f468759.png)

[2021-12-24 20:05] adarweinreb opened #396 "Text overlap - homepage"
iPhone XS

![image](https://user-images.githubusercontent.com/47393295/147371055-f7bd2a1d-1ec2-4cab-8734-21c80d005fa3.png)

[2021-12-24 22:22] laurenluz commented on #395
yeah it's because "staking" in this pool is actually the same as wrapping tokens in the garden. and you need to approve before you wrap.

it used to say "approve" and then "wrap" but we changed _wrap_ to _stake_ to make it consistent with the other cards (even though it is a different action)

would be good to add this to the givgarden doc, maybe. I'll make an issue in comms

[2021-12-24 22:33] laurenluz commented on #394
did it update now? I think there were some temporary issue with the graph, but it looks correct for me right now

[2021-12-25 13:35] WhyldWanderer opened #397 "Successful harvest from the GIV stream but it is not showing in the UI"
I harvested my GIVstream rewards
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/ee14982a-634e-4966-8a7e-e49522eef9a4)

I received a transaction confirmed:
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/045fa9fa-9627-4212-9254-9c4efbfce1df)

Blockscout says transaction was successful:
https://blockscout.com/xdai/mainnet/tx/0xce0c9755ec6e1c0b18

[2021-12-25 13:45] WhyldWanderer commented on #397
I notice now that it is showing correctly... I think this may have just been a delay in the UI refreshing slowly

[2021-12-25 14:19] laurenluz commented on #397
Damn yeah things have been slow on the UI updating....

@mohammadranjbarz @aminlatifi can you investigate?

[2021-12-25 14:22] mohammadranjbarz commented on #397
I just have checked the subgraph now, the syncing is good, after few blocks ( less than 30 seconds) our subgraph syncs with network,
I don't see a problem there

[2021-12-25 18:26] GriffGreen commented on #389
Here are the deets: https://docs.google.com/document/d/1sUm9p-6V0x_2fTJjRiZd4MaUggcwzplChc3h2PJMP4I/edit

[2021-12-25 18:38] GriffGreen opened #398 "Implement scroll on the NFT Modal"
I can't see my 4th & 5th nfts without resizing the window
![Screen Shot 2021-12-25 at 12 37 16 PM](https://user-images.githubusercontent.com/14945613/147391490-ca9640a4-5eb9-4825-8f00-36747df59eba.png)

[2021-12-27 01:33] laurenluz opened #399 "Tell users that if they claim from the farm instead of the givstream or givbacks page, they save on gas!"

[2021-12-27 01:51] #367 closed

[2021-12-27 01:51] #337 closed

[2021-12-27 01:51] #313 closed

[2021-12-27 01:52] #117 closed

[2021-12-27 01:52] #380 closed

[2021-12-27 01:52] #365 closed

[2021-12-27 01:52] #390 closed

[2021-12-27 01:54] #305 closed

[2021-12-27 01:55] laurenluz commented on #368
hey @aminlatifi can we fix this for the rest of the DApp? looks like claim on the GIVfarm is still too high. we should fix it all over :)

[2021-12-27 01:55] #294 closed

[2021-12-27 01:59] #240 closed

[2021-12-27 02:02] laurenluz commented on #290
this is a heavy issue... we'd need to run our own client or something... because normally you can only know what the stream is when you're connected to that network. we'd need a devops person to maintain it too after.

would be really cool though...

@marthendalnunes what do you you think? would you be down to investigate how to do this? DAppnode has it on https://app.dappnode.io/

[2021-12-27 02:09] laurenluz commented on #395
ohh actually, I just learned FYI, apparently to stake LP tokens you don't need to approve because they have permit. Also on mainnet the token has permit so you don't need to approve.

also 1hive never uses infinite approve you alwasy need to approve before wrapping. so! I was right about things not needing to change in the UI but we coudl still consider communicating this better in our documentati

[2021-12-27 02:09] #395 closed

[2021-12-27 04:53] aminlatifi commented on #368
Yes, I will do it

[2021-12-27 15:38] laurenluz opened #400 "Make another voting app that can control the distributor - GIVbacks"
We need this for GIVbacks!

[2021-12-27 15:40] laurenluz opened #401 "Ensure that USD prices of tokens(GIV and others) saved in database is correct for GIVbacks"

[2021-12-27 15:46] MoeNick commented on #401
Related to #278

[2021-12-27 15:56] laurenluz opened #402 "Change "xdai" to "gnosis chain" everywhere"

[2021-12-27 16:07] laurenluz opened #403 "When a user closes position on NFT something buggy happens"
@aminlatifi knows what's happening

[2021-12-27 16:08] aminlatifi commented on #403
It's fixed :)

[2021-12-27 16:10] aminlatifi commented on #403
We didn't update positions entities in our backend when they were closed by the user. Now we handle all related events and keep positions updated. Also we flag closed positions and don't show in frontend.

[2021-12-27 16:11] #403 closed

[2021-12-27 16:14] divine-comedian commented on #400
Okay so we should totally spec out the voting app for this one -

We'll need to specify three parameters -

Vote duration
Support Required
Minimum Approval (Quorum)

I'll run a test on the test DAO if it looks good we'll run the same script to create a new voting app on the nrGIV DAO

@GriffGreen  would love your input on params.

[2021-12-27 16:25] divine-comedian commented on #400
I Suggest:

48hrs Vote Duration
91% Support Required
10% Quorum

This is a compromise between allowing us to review the proposal and the script and check for any changes
the support required means that 2 active contributors can effectively block a GIVback distro - this is important if developers see a critical issue they can raise the flag and prevent a bad distro from happening.

the quroum I thi

[2021-12-27 18:09] GriffGreen commented on #400
Those are nice, but 2 days is still a long time for this vote... I proposed 24 hours in the forum: https://forum.giveth.io/t/new-voting-app-for-our-nrgiv-dao/223 and upped the other params

[2021-12-27 20:39] laurenluz opened #404 "Change harvest modal to say "You will recieve""
"you will recieve" is the total claimale amount + shows the adding to their GIVstream

in small text below we can show the breakdown

[2021-12-27 20:50] laurenluz commented on #353
related to #404

[2021-12-27 20:54] GriffGreen commented on #353
Added to your GIVstream flowrate is also confusing.... here is some feedback from @krrisis

![photo_2021-12-27_14-51-57](https://user-images.githubusercontent.com/14945613/147506474-39073226-a764-416d-a186-74df1de51545.jpg)
![photo_2021-12-27_14-52-06](https://user-images.githubusercontent.com/14945613/147506477-6f673e75-438e-404e-b559-124e63bc752a.jpg)
![photo_2021-12-27_14-52-11](https://user-im

[2021-12-27 23:33] WhyldWanderer opened #405 "Users cannot claim a GIVdrop with their torus account"
We have many project owners who received a GIVdrop.
However, these users (and probably others) cannot connect to the claim UI with their torus account.

[2021-12-28 01:25] GriffGreen opened #406 "Awesome dune analytics dashboard, potential improvements"
https://dune.xyz/metacrypto/giveconomy

- [x] The Claims in the GIVdrop section seem to include all the small claims from when people harvest, not just the claims from teh Merkle Drop Contract.... I think you could make sure that the Merkle drop contract is the distributor that makes the call and then you would fix it.

Wow.... dud you fixed this before i even made the issue :-P

Confirm that it i

[2021-12-28 07:32] #309 closed

[2021-12-28 10:12] aminlatifi commented on #406
@mendesfabio Awesome dashboard!!!!!

One thing, are you sure about this?
![image](https://user-images.githubusercontent.com/5684607/147555504-c92d6176-7f3a-4cfa-a351-c3c654744418.png)

I doubted because the uniswap pool holds only 56.5 K

![image](https://user-images.githubusercontent.com/5684607/147555611-208e2a70-6ae6-4976-bfb0-1fce8dedd83e.png)

[2021-12-28 11:58] aminlatifi commented on #368
It's done. I made the gas price 1 as I saw all transactions went through on xDAI by this price

[2021-12-28 13:06] mendesfabio commented on #406
@aminlatifi yeah I'm sure about the Uniswap TVL, I confirmed on Etherscan. OTOH the pie chart you sent is weird, but I believe it was outdated, I just ran the query and it shows about 360k $GIV in the Uniswap V3 contract. Thanks for reporting :)

[2021-12-28 13:13] mendesfabio commented on #406
@GriffGreen I'm removing GIV holders section in favor of GIVgarden. Moved $GIV section to the top and made all TVL in terms of $GIV -- this is the best for now.

[2021-12-28 16:18] krrisis opened #407 "some giveconomy feedback"
A few points while going thru this again:

1)
There seems to be something wrong under the tab givgarden, in the sense that this shows my givfarm rewards here actually.
Seeing the logic of the rest it should not have a harvest button.

2)
I think for both givbacks & givgarden there is supposed to be no harvest button and the giv/week will just be added under the givstream tab, no?

![image](https:/

[2021-12-28 17:38] laurenluz opened #408 "Contract Torus and see if we can get an ingration so that people can vote in the garden"

[2021-12-28 18:13] laurenluz commented on #407
Hey @krrisis - thanks for the feedback! I can totally understand your confusion.... it is actually working exactly as intended but there is some missing pieces of communication that I'll make issues to fix.

FYI though...

When you stake in the 100% GIV staking pool on xDai it is the same as wrapping tokens in the GIVgarden to vote... in both cases, you get gGIV and you earn rewards. That is why y

[2021-12-29 00:52] marthendalnunes commented on #389
@GriffGreen @laurenluz up and running at https://circulating.giveth.io/

[2021-12-29 01:12] laurenluz opened #409 "Create staging.giv.giveth.io?"

[2021-12-29 01:21] GriffGreen opened #410 "Make onboarding onto the givFarm much easier"
There are some keys and some configuration settings that block onboarding as a contributor... we should make things easier for contributors.

[2021-12-29 01:23] laurenluz opened #411 "GIVfarm - add "Why is there no harvest button?" & modal"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/53664b52-21d7-4051-ab6b-bb11391c3c90)

Add "Why is there no harvest button?" and a modal...

The Modal should say:

"This shows you the total rewards that are available to harvest in the GIVfarm on your selected network. If you are staking in multiple pools, a "harvest all" button would lead to several transactions being co

[2021-12-29 01:31] laurenluz commented on #353
I think we need some more design on this one to make it better. I"m thinking...

- we should show the cumulative amount BIG at the very top with the title "Your claimable rewards: 100 GIV" and "Plus adding to your GIVstream flowrate: 5 GIV/week"
- there should be a breakdown below showing where all the numbers are coming from... from GIVbacks, from your GIVstream, from the GIVfarm GIV/ETH pool...

[2021-12-29 01:54] laurenluz opened #412 "Improve APR modal communication"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/4ff9c8fa-055c-426e-ba48-ca30326e658c)

"Your APR is total the rate of return on your staked tokens. Part the GIV your earn from staking is claimable immediately, and part goes into increasing your GIVstream flowrate. Over time, as the GIViverse expands, more or your total earnings will be claimable immediately and less will

[2021-12-29 01:56] #404 closed

[2021-12-29 01:58] laurenluz commented on #396
Thanks for making this issue! We will be improving mobile responsiveness on the GIVeconomy as per #273

[2021-12-29 01:58] #396 closed

[2021-12-29 02:12] laurenluz commented on #399
maybe we do a quick check to see if the user has rewards available to harvest in the GIVfarm, and then, if so, there is a popup when they click harvest that says...

" You have GIVfarm rewards ready to claim! If you harvest rewards in the GIVfarm, we will send you your GIVstream and/or GIVbacks rewards with it in a single transaction with no extra gas."

Button: "Go to GIVfarm" links to: https://g

[2021-12-29 02:14] #397 closed

[2021-12-29 02:15] laurenluz commented on #394
related to #397

Should be working fine if the graph is working fine

[2021-12-29 02:15] #394 closed

[2021-12-29 02:16] laurenluz commented on #410
what do you meaaaaaaaan? howwwww?

[2021-12-29 02:24] laurenluz opened #413 "Make it more clear that GIVbacks become available after the round ends"
as per #407

Maybe we add a "Round x distirbuted on THIS DATE" somewhere?

We can add a "Why don't I have GIVbacks?"

When clicked, it says:

"GIVbacks rewards corresponding to the current round become available after the round ends. If you donated to a verified project and do not yet have rewards to claim, it is likely that GIVbacks have not yet been distributed for that round, or that you claime

[2021-12-29 02:26] laurenluz opened #414 "Frontend fixes to GIVeconomy (GIVdrop and homepage)"
@markoprljic as per your comment in the design channel, you want to add the video to https://giv.giveth.io/

https://www.youtube.com/watch?v=LEw8PaJylNA

Can you give use some design idea as to where to put it?

[2021-12-29 02:27] laurenluz commented on #414
love the idea btw

[2021-12-29 02:28] laurenluz opened #415 "Improve GIVfarm page with "buy GIV" more prominant"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/8940af68-005d-4d2b-b96b-8d9a4f9803c1)

[2021-12-29 02:29] laurenluz opened #416 "GIVcuration spec"

[2021-12-29 02:29] laurenluz commented on #416
WIP

https://docs.google.com/document/d/17mjEcS948OAjScZnXinGquGwdRLpWi-1EjGcTg6MeBI/edit

https://www.notion.so/giveth/Spec-GIV-token-staking-for-project-curation-6659b72ff88f4b14bad502cf2d67828e?showMoveTo=true&saveParent=true

[2021-12-29 03:13] WhyldWanderer commented on #413
We can't really promise a certain date... but we could say BY this date. We need time to review for fraud and pass the vote for distribution as well as publish it publicly somehow.

When clicked, it says:
"GIVbacks rewards corresponding to the current round become available after the round ends. If you donated to a verified project and do not yet have rewards to claim, it is likely that GIVbacks h

[2021-12-29 09:41] MoeNick opened #417 "Implement Reward Menu"
As a user, I want to see the numbers below GIV button in the header like this:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/303cb141-724b-4e9c-816e-15906cac6212)

The design with responsiveness guides are  available here: https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=13%3A4

It will load on hover in desktop view and tap in mobile

[2021-12-29 10:17] MoeNick opened #418 "Responsiveness: Header"

[2021-12-29 10:17] MoeNick opened #419 "Responsiveness: Overview Page"

[2021-12-29 10:18] MoeNick opened #420 "Responsiveness: GIVGarden Page"

[2021-12-29 10:18] MoeNick opened #421 "Responsiveness: GIVfarm"

[2021-12-29 10:18] MoeNick opened #422 "Responsiveness: GIVbacks"

[2021-12-29 10:19] MoeNick opened #423 "Responsiveness: GIVstream"

[2021-12-29 10:53] MoeNick opened #424 "IO New Design: General Purpose Page"

[2021-12-29 12:00] divine-comedian commented on #411
do you want me to create this modal or QA it? I don't see anyone else assigned to the issue

[2021-12-29 12:12] divine-comedian commented on #412
A percentage of the GIV you earn from staking is claimable immediately, and the remaining percent goes into increasing your GIVstream flowrate. Over time, a greater percentage of your total earnings will be claimable immediately following the continued expansion of the [GIViverse](https://giv.giveth.io/givstream)

Current Distribution:
Claimable Immediately: 10%
Increasing your GIVstream: 90%

`RE

[2021-12-29 14:38] laurenluz commented on #409
deploy a staging environment! :D @aminlatifi

[2021-12-29 14:39] laurenluz opened #425 "Merge staging environments & production of giveth.io & giv.giveth.io"
next.giveth.io will work with liquidity-mining-dapp for GIVeconomy

we need to merge typescript giveth.io & giveconomy - user is signing in on the dapp & wants to stay signed in when they are connected to giv.giveth.io

needs to be done after typescript version is complete

would be great if these projects were on the same domain...

@MohammadPCh to investigate

[2021-12-29 14:41] laurenluz commented on #405
@marthendalnunes do you think you could check this one out? lmk if any questions

[2021-12-29 14:42] laurenluz commented on #405
@aminlatifi can make a new merkle drop for testing & add team member's torus's accounts for testing

[2021-12-29 14:44] laurenluz commented on #400
@divine-comedian to make a poll later today

[2021-12-29 14:51] laurenluz commented on #401
the price is coming from monoswap right now.

if we missed the price, we need a solution on how to get the correct. Could use manual effort Algene! to look at the right prices

[2021-12-29 14:53] laurenluz commented on #401
Need to determine what is our whitelist first: https://forum.giveth.io/t/which-tokens-donated-are-eligible-for-givbacks/231

Could have a backend recording the price of tokens once per hour to ensure that USD value of donation is correct

[2021-12-29 15:05] laurenluz commented on #118
We have the full system, but we need it to be turned into a report to share with Gemini - contact Adria or Edu - @paxthemax is on it!

[2021-12-29 15:07] laurenluz commented on #392
@pkretzschmar can you change things so that they show up to 4 decimals and if it's less than that it shows <0.0001

everywhere! lmk if any questions

[2021-12-29 15:08] laurenluz commented on #235
"by staking in this pool, you can vote in the GIVgarden"

[2021-12-29 15:12] laurenluz commented on #412
@divine-comedian to update this!!

[2021-12-29 15:14] laurenluz commented on #411
We can make the "harvest all" a nice-to-have on xDai & not offer it on mainnet

[2021-12-29 15:17] laurenluz commented on #103
can run another test on the test DAO w DRGIV3

[2021-12-29 15:19] laurenluz commented on #273
@mosaeedi do we have any designs for GIVeconomy responsiveness

[2021-12-29 15:24] laurenluz commented on #386
@laurenluz to send txt file to mitch

[2021-12-29 15:26] laurenluz commented on #410
We should add in a readme @aminlatifi

[2021-12-29 15:30] laurenluz commented on #411
can add to smart contracts or have it popup multiple times on frontend

@aminlatifi @paxthemax to determine the best way

[2021-12-29 16:18] paxthemax commented on #411
Alas, it is not possible to delegate another address as the beneficiary so a contract based batch call solution isn't really doable (we assume that the user address is the beneficiary).

The most painless solution IMO would be a flow that would guide the harvester through each claim step. That way we would avoid confusion with which transaction is being signed. The harvester would be able to navig

[2021-12-29 22:01] krrisis commented on #407
Hey Lauren,

These clarifications help a lot!
Thx for the extensive feedback on the feedback and happy to hear that it's more a question of adding some more details on what is what than a real issue.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Lauren ***@***.***>
Sent: Tuesday, December 28, 2021 7:13:28 PM
To: Giveth/GIVeconomy ***@***.***>
Cc: krrisis *

[2021-12-29 23:35] laurenluz commented on #364
I messaged in the gnosis chain discord blockscout channel to see if anyone knows how to add the logo!

[2021-12-30 19:08] divine-comedian commented on #386
just getting some syntax advice from sem then I will test the script on staging and if all goes well then run it on the real GIVgarden

[2021-12-30 19:08] divine-comedian commented on #235
mostly done just need to update some design assets in the `ui-design-system`

[2021-12-30 20:03] laurenluz commented on #413
Thanks for the QA @WhyldWanderer !!

So.... perhaps we could add that round distributed by x date to the rounds thing? What is the best "distributed by" date? the start date of the following round?
![image](https://user-images.githubusercontent.com/75490971/147784554-f96ce32a-2b10-4129-bce0-e83008b5d477.png)

[2021-12-30 20:10] WhyldWanderer commented on #413
At least a week...

[2021-12-30 20:28] laurenluz opened #426 "GIVbacks modal"
as per #413 let's add a modal to the GIVbacks page

- When the user's wallet is connected and they have 0 GIVbacks to claim, underneath the harvest button it should say "Why don't I have GIVbacks?" - and this is clickable

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/7fdeb1e5-a0b5-4ef7-9527-f52a9d933367)

When clicked, it opens a modal that says:

"Why don't I have GI

[2021-12-30 20:36] laurenluz commented on #411
I think that multiple tx popups is kind of unpleasant and confusing and really don't think this is work the extra devving (since we can do a bath call), especially since we would only bother to add this on xDai and not mainnet...

I'm just going to move this to done w/o changing anything. I think it is fine as it is now with no harvest button at the top.

[2021-12-30 20:37] divine-comedian commented on #103
here's a spreadsheet generated by the givbacks script that we can use to analyze some sample data before running the actual function

https://docs.google.com/spreadsheets/d/1MTviWUK1ztU5YfsrT8YrKL0X4VL9zs5GjLGmFPEThFI/edit?usp=sharing

[2021-12-30 21:29] divine-comedian commented on #235
pending in PR https://github.com/Giveth/liquidity-mining-dapp/pull/99

[2021-12-30 21:29] divine-comedian commented on #412
pending in PR - https://github.com/Giveth/liquidity-mining-dapp/pull/99

[2021-12-31 02:57] divine-comedian opened #427 "restructure information for failed transaction modal"
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/c98b3ced-65b8-4906-bada-80393241e941)

need to implement some more padding so the text isn't squished against the egde of the modal

change this tx id to a message to give the user more understandable information - a tx id might not be obvious for users

[2021-12-31 06:27] markoprljic commented on #353
I'm down @laurenluz soonest I get back.

[2021-12-31 10:01] mohammadranjbarz commented on #103
And it's not accurate, because the GIV donations of first day don't have price, so they are not in this list
( We should add price for them manually)

[2021-12-31 14:42] divine-comedian commented on #427
pending fix in https://github.com/Giveth/liquidity-mining-dapp/pull/106

[2022-01-02 11:23] #417 closed

[2022-01-03 06:01] WhyldWanderer opened #428 "GIVbacks round dates are incorrect"
![image](https://user-images.githubusercontent.com/74267818/147903077-163f222c-f794-499f-9d4b-5ec29803bf85.png)

The dates should say December 24th - Jan 7th.

[2022-01-04 08:10] aminlatifi commented on #342
It needs some new data from backend side. To be precise, the backend should fill another field which is givBack liquid part that is filled at the exact moment the tx has happened.

[2022-01-04 09:40] aminlatifi commented on #409
It's done by @geleeroyale ;)

[2022-01-04 15:29] laurenluz opened #429 "New merkle drop to test Torus wallets"
As per #405 we had an issue where torus users weren't able to claim their GIVdrop.

Hopefully it's fixed now but we need to test it!

@aminlatifi can you make a new merkle drop w test tokens and include these addresses so we can test claiming the GIVdrop w Torus accounts?

https://docs.google.com/spreadsheets/d/1nJJ8sjcSviST6NVfA6FUHMnZo2QPePh3iP0iBMQzTjM/edit#gid=0

[2022-01-04 15:39] aminlatifi commented on #401
I investigated this price issue and I found uniswap a good source for the price as it enables us to have the average weighted price for a token one hour before transaction. @GriffGreen it's the same logic of twap in uniswap v2 and also is implemented in uniswap v3.
I will discuss it with @mohammadranjbarz to how is the best way to implement it.

[2022-01-04 16:24] laurenluz commented on #412
Looks correct... but... are the 10% and 90% numbers accurate? I feel like it should be at least like 10.1 & 89.9 by now.. .making me think that perhaps these numbers are not being calculated and instead are (incorrectly) hard-coded. @divine-comedian @MohammadPCh - can you check?

![image](https://user-images.githubusercontent.com/75490971/148090730-c9b25796-752c-40ff-aa8a-8b0713125161.png)

[2022-01-04 16:26] laurenluz commented on #428
This is correct on production:
![image](https://user-images.githubusercontent.com/75490971/148090989-44628ed3-3199-43f1-ad85-89a919879a3f.png)

But off on develop:
![image](https://user-images.githubusercontent.com/75490971/148090937-84b3b301-63cb-41b5-93a8-9460e492758d.png)

Is there a good reason that this is incorrect on develop? @MohammadPCh

[2022-01-04 16:32] laurenluz commented on #393
This is working great on develop

![image](https://user-images.githubusercontent.com/75490971/148091799-bc7d82e6-b6e0-4d83-a0ae-0bcb6749fa8a.png)

[2022-01-04 16:34] laurenluz commented on #426
@MohammadPCh This is looking good! only, could you remove the lightning bolt from the modal? This image should only be on the GIVstream modal.

It can be a plain blue colour.

![image](https://user-images.githubusercontent.com/75490971/148091987-deb300b0-9824-4c5d-bc9a-b1766319024e.png)

[2022-01-04 16:37] laurenluz commented on #413
ok I'm just going to leave this open... and not add any date...

we can see how the first few rounds go and how quickly we can get things out.

moving this issue to done.

[2022-01-04 19:05] ForestSoleil opened #430 "Change URL on a project"
I changed the title of my Giveth project and would like for the URL to reflect this change.

Prpject: Teva Natural Birth Sanctuary

Currently url: /teva-natural-birth-micro-village

[2022-01-04 20:42] laurenluz commented on #409
NICE! So now we should always test here: https://staging.giv.giveth.io/ ??

[2022-01-04 20:44] laurenluz commented on #409
Or wait I'm still a little confused here. it looks identical to giv.giveth.io - with the same real GIV tokens staked.

Is there any way we can have the staging site with test tokens/test networks?

[2022-01-04 20:46] laurenluz commented on #389
I can't seem to open this... is this an issue on my side? @marthendalnunes

![image](https://user-images.githubusercontent.com/75490971/148121813-6403567e-8bfa-4bd5-bc72-d50276db49d4.png)

[2022-01-04 21:13] aminlatifi commented on #409
You are right, it's fixed now.

[2022-01-04 21:32] GriffGreen commented on #398
Looks good!

[2022-01-04 21:32] #398 closed

[2022-01-04 22:13] laurenluz commented on #417
THIS IS SO COOL

[2022-01-05 00:34] GriffGreen commented on #401
Sweet!

[2022-01-05 00:38] GriffGreen commented on #400
Votes are up... excited to see if this one worked!

[2022-01-05 07:42] aminlatifi commented on #401
Fetching spot prices from uniswap pool
https://docs.uniswap.org/sdk/guides/fetching-prices

[2022-01-05 08:08] aminlatifi commented on #401
Uniswap subgraph has hourly rate
Endpoint: https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3

Sample query
[code]

Response:
[code]

[2022-01-05 08:20] aminlatifi commented on #401
We should first aim for fetching time-weighted average price from `tickCumulatives` values fetched directly from the pool smart contract. If that doesn't work we should investigate whether poolHourData is a reliable source (time weighted) or not ?

[2022-01-05 11:26] MoeNick opened #431 "TP: New complete Profile Modal"

[2022-01-05 12:20] MoeNick opened #433 "Partner page needs to be finalized and links need to get updated"

[2022-01-05 12:28] MoeNick opened #434 "Customize Formatic Wallet for signing / registration"

[2022-01-05 12:50] MoeNick opened #435 "Success newsletter subscribe"

[2022-01-05 14:13] laurenluz commented on #401
for this round and the next, we will use monoswap & the recently implemented endpoint for GIV price.

In long run we should use TWAP. - intend to create a new solution for February.

Mateo & Carlos are working on updating donation price manually for all previous missing donations. @mateodaza - can you update on this? have you finished?

[2022-01-05 14:37] GriffGreen commented on #384
We need to send 23,789.872 GIV to the Token Distro from nrGIV.

I will make a forum post.

[2022-01-05 14:45] laurenluz opened #436 "Design for showing both GIVstreams in the same view"
@markoprljic can you take a look at #290 ? Vitor is working on implementing this in the code, would be really cool to show the user both mainnet and xdai streams in the same view, but we need some nice designs :)

[2022-01-05 17:00] ForestSoleil opened #437 "Project verification typeform link change"
The typeform moved to a new address giveth.typeform.com but when users click the link to apply they are shown tbe 'this typeform has moved to a new address' screen. Please just change the link so it directly goes there.

[2022-01-05 17:29] aminlatifi commented on #429
@laurenluz By this link you can test torus wallet.
I deployed new merkle distro and also a new backend.
I took long time since torus has issue with setting gas price options!! I fixed the issue and now on develop you can test whether metamask works with correct gas price and a also by torus you should be able to make a tx (before we couldn't )

[2022-01-05 18:18] MoeNick opened #438 "Complete Profile Modal"

[2022-01-05 21:17] laurenluz opened #439 "Improve Torus wallet integration"
As per our conversation in the #giv-economy channel:

@marthendalnunes is working on:
1. determining how easy it is to hide the "add to metamask" button if the user if connected to Torus
2. determining if it is possible to have "switch to xdai" or "switch to mainnet" be a simple link to https://torus.crisp.help/en/article/how-do-i-change-the-network-my-wallet-is-connected-to-76n3qh/ in the case th

[2022-01-05 21:21] laurenluz commented on #405
@WhyldWanderer @MoeNick @divine-comedian @GriffGreen

Vitor made it so that the user can now claim with Torus wallet. Me, Vitor & Amin all tested it already and it working just fine... but the switch network doesn't work for Torus and neither does the "add to metamask" thing.

Vitor is working on an improvement for this in #439

You can try testing the claim, but I would actually suggest to hold o

[2022-01-05 21:29] laurenluz commented on #437
please be more specific about which link you are referring to.

the one from giv.giveth.io/givbacks is correct, so I assume you are referring to one on giveth.io... in which case, it makes sense to move this to the giveth-next repo so MoeNick or others can see it.

Also it would be helpful for you to put the link in the issue, for future reference.

Here it is: https://giveth.typeform.com/verifica

[2022-01-05 21:39] WhyldWanderer commented on #405
I checked it out but when I try to check my torus address i get this
![image](https://user-images.githubusercontent.com/74267818/148293275-09dbe7bf-8545-4a2c-94c5-20e79e2d3eb7.png)

[2022-01-05 21:48] WhyldWanderer commented on #437
There is an issue for this here: https://github.com/Giveth/GIVeconomy/issues/437 https://github.com/Giveth/giveth-next/issues/581

[2022-01-05 21:49] WhyldWanderer commented on #437
Where did you click the link from @ForestSoleil ?

[2022-01-05 22:39] mateodaza commented on #401
@laurenluz we did manual updates for GIV donations (there were lots missing from the 24th until the 28th)

After we have our GIVBacks token list I'll make a last check with @CarlosQ96 and do the same with every missing price donation, using the graph endpoint mentioned up here.

[2022-01-05 22:41] mateodaza commented on #401
Discussion related [here](https://github.com/Giveth/impact-graph/issues/278)

[2022-01-05 22:59] laurenluz commented on #401
@mateodaza we have the GIVbacks token list, I published it in the forum here; https://forum.giveth.io/t/givbacks-token-list/253

Also here is the spreadsheet: https://docs.google.com/spreadsheets/d/1GNydwm1XoDOjGNWWAVq6xCCnmy1aYCC2KaNdcJsCvMk/edit?usp=sharing

The list is basically just all the tokens we have in the drop-down menus

Mohammad is deploying it on impact graph and then they should all

[2022-01-06 00:45] missgene opened #440 "Change people's addresses that couldn't claim the GIVdrop"
There's a Typeform containing all the updated addresses of people who were not able to claim their GIVdrop.

Wait for 5 days for the advice process to change people's addresses in nrGIV DAO.

@WhyldWanderer I will reach out to you for the spreadsheet and work with @GriffGreen to get the final list.

Please assign me to this issue.

[2022-01-06 00:49] missgene opened #441 "Retroactive GIVbacks"
We need to do this.

[2022-01-06 06:30] aminlatifi commented on #405
Which url are you using?

[2022-01-06 06:41] MohammadPCh commented on #428
No worries. it's because I fix it in the production branch to skip the staging step. @laurenluz

[2022-01-06 06:46] MohammadPCh commented on #426
I asked the Design team to give me a background for it. and it's just a temp background when they give it to me I change it.
but yeah we can hide it until the background is ready.
@laurenluz

[2022-01-06 09:01] aminlatifi commented on #405
@WhyldWanderer the deployment accessible by this link has test torus wallets eligible for givdrop
https://liquidity-mining-dapp-d-torus.vercel.app/

[2022-01-06 15:27] MoeNick commented on #405
I tried on chrome, everything is good

![image](https://user-images.githubusercontent.com/80677512/148406298-0e5a1ecc-3082-40ef-acd5-26a5186b1b73.png)

![image](https://user-images.githubusercontent.com/80677512/148406389-e9fd5023-2b5f-46d9-aed0-6339575fd4ff.png)

![image](https://user-images.githubusercontent.com/80677512/148406529-d7fd6e65-f7bb-4937-9a57-550fdaf5e375.png)

I dont have some xdai

[2022-01-06 18:43] laurenluz commented on #441
haha @missgene you sounds like @GriffGreen 🤣

We have an issue for this already #102

I will put it as a priority

[2022-01-06 18:43] #441 closed

[2022-01-06 18:44] laurenluz commented on #426
sounds good! FYI @markoprljic

[2022-01-06 22:08] laurenluz opened #442 "Make API endpoints that lead to specific numbers"
@marthendalnunes This is for to get GIV on CMC. Can you help set this up?

We need:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/979e3850-8dc6-4541-8603-6261735a1441)

copy/pasted:

API endpoint that displays ONLY TOTAL SUPPLY as a NUMERICAL value (Type 'NA' if not applicable)(optional)
MUST be in this EXACT format - http://chainz.cryptoid.info/grs/api.dws?q=totalcoi

[2022-01-06 23:20] WhyldWanderer commented on #405
After confirming..
I just get a never ending spinning wheel - the torus transaction pops up... I click confirm. but this is all that happens:
![image](https://user-images.githubusercontent.com/74267818/148466014-401119a9-52a1-46f6-80cc-85e8f2cb164c.png)

[2022-01-07 00:19] GriffGreen commented on #102
Yeah!

I would say that, just like the rest of the GIVeconomy, this should be a GIVstream game... part liquid and the rest streaming.

Also I wouldn't do it straight across the board...
Donations to Giveth get 100% GIVbacks
Donations to Verified projects (if they are verified at the time of the retroGIVbacks get 75% GIVbacks
Donations to listed projects get 10% GIVbacks (more like early beta teste

[2022-01-07 00:25] GriffGreen commented on #401
Great work on this team! Excited to play with the data!

[2022-01-07 00:41] GriffGreen opened #443 "When showing people the GIV economy... they have trouble seeing and navigating between the pages"
These buttons are just hard to see, they need to be more pronounced and obvious... maybe larger bolder text... and louder colors?
![Screen Shot 2022-01-06 at 6 39 42 PM](https://user-images.githubusercontent.com/14945613/148472608-72b50519-6c1c-4d40-9157-29af0246c40b.png)

[2022-01-07 00:46] WhyldWanderer commented on #440
Sent!

[2022-01-07 01:03] missgene commented on #440
Thank you!

On Fri, Jan 7, 2022 at 8:46 AM WhyldWanderer ***@***.***>
wrote:

--

[2022-01-07 17:08] aminlatifi commented on #405
By using this link? https://liquidity-mining-dapp-d-torus.vercel.app/

[2022-01-07 17:28] WhyldWanderer commented on #405
Yes

[2022-01-07 18:24] WhyldWanderer commented on #405
Seems fixed!!
![image](https://user-images.githubusercontent.com/74267818/148589337-5cdd7f40-9338-4ac6-bffc-79e689a4c556.png)

Thanks @aminlatifi!

[2022-01-07 19:46] MoeNick commented on #405
Its a god idea we can send this  web2 users some xdai, right fore they click of claim. 🧐

[2022-01-07 19:49] aminlatifi commented on #405
They have already

[2022-01-07 21:24] MoeNick commented on #405
As you may see in my case, I dint have so I could not claim until I sent some to my torus wallet

[2022-01-10 15:55] laurenluz opened #444 "GIVbacks analytics dashboard"
related to #336 @mendesfabio is down to help us make a dashboard to display analytics related to GIVbacks.

This dashboard can live at an external link & we can make blog posts after the GIVbacks rounds to talk about the analytics. Some things it would be nice to show:

- [ ] Total amount of donations to verified projects during each (2 week) round
- [ ] Amount USD of donations during the rounds
-

[2022-01-10 16:09] WhyldWanderer commented on #444
I think that this information should be included in the GIveconomy dashboard... but we could also embed some of this on the GIVbacks page showing info for the previous round.

It would be nice to have 2 dashboards..
 - GIVeconomy info
      This would include all of the info [here](https://dune.xyz/metacrypto/giveconomy) as well as the above GIVbacks info.
 - Giveth DApp info
      This would incl

[2022-01-10 17:04] MoeNick opened #445 "Azure Server upgrade and subscription"

[2022-01-10 18:24] laurenluz commented on #443
@markoprljic can you help w design?

[2022-01-10 18:55] laurenluz commented on #405
yeah, we sent it to everyone eligible for the real GIVdrop. @MoeNick your Torus account was probably not part of the *real* merkle drop (we just added it for this small test), hence you did not have the xdai

[2022-01-10 18:57] MoeNick commented on #405
Oh got it, thanks.

[2022-01-10 19:23] laurenluz commented on #444
yeah that might be cool - to add a GIVbacks section to the current dune analytics dashboard that Fabio created. What do you think @mendesfabio ?

That's a cool functionality for the Giveth DApp info thing.. I wonder if this is hard to implement or we just have like bar charts & things where each bar represents a period of 1 week or 1 round. @mendesfabio ?

[2022-01-10 19:24] laurenluz commented on #102
Love this! Where do the funds come from? rGIV? or will we make a proposal in the GIVgarden?

@WhyldWanderer when did we start verifying projects? Do you have a specific date for tracking?

[2022-01-10 20:04] WhyldWanderer commented on #102
This first application was submitted April 7th, 2021. The first Verification Party was held Arpil 9,2021. I don't know the exact date that the first badge was given though as it was a manual process at that time.
According to this [issue](https://github.com/Giveth/giveth-next/issues/85) it seems like it was June 15, 2021.

[2022-01-10 21:08] nauzystan commented on #444
I think your ideas concerning the features of the Dashboard is great. However, I think it'd be nice to also include the formula (With each variable well defined) utilized in the distribution of Givebacks on the Post-blog post. I don't know if this is already in the agenda.

[2022-01-10 21:42] divine-comedian commented on #444
We just mentioned this in a call with some of the devs to add to our formal documentation!

I would agree with @WhyldWanderer  that having two dashboards would be better - there's already lots of information on the GIVeconomy dashboard so it would be good to break it up somehow and have it less intimidating

[2022-01-10 21:49] laurenluz commented on #444
The formula for calculating GIVbacks is already in our documentation @divine-comedian https://docs.giveth.io/giveconomy/givbacks

Are you talking about some other formula?

[2022-01-10 22:10] divine-comedian commented on #444
we we're talking about gettin the exact script/code that is being ran when we use this function

https://givback.develop.giveth.io/api-docs/#/default/get_calculate_givback

[2022-01-10 22:36] laurenluz commented on #102
nice! Thanks!

[2022-01-11 06:53] markoprljic opened #446 "Create Onboarding guide for Designers"
Create a doc to help new designers easily onboard to Giveth.

As a designer I want to:

- read about Giveth Design
- know who is on the team
- contact details of team members
- know how the design work is structured
- know where to find design files and how they are organised
- know where I can get access and permissions to edit design files
- get all other relevant access to organisation (github,

[2022-01-11 11:47] markoprljic commented on #446
@mosaeedi @rodricastillo9013 Assigning you to this issue to collaborate on the guide.

[2022-01-11 11:47] markoprljic commented on #446
Hey @rodricastillo9013 I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/all-devs-61644589b92edf0016f6999c/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-01-11 12:04] rodricastillo9013 commented on #446
Great this! I think the guide for new designers is excellent! I have already created an account on ZenHub

[2022-01-11 13:37] mosaeedi commented on #446
Good idea!

[2022-01-11 20:32] laurenluz commented on #389
@GriffGreen this is working now - https://circulating.giveth.io/token-supply

can you contact whoever it is that we need to contact to update it?

[2022-01-12 00:40] WhyldWanderer commented on #416
Check out this forum post about GIVcuration and how we can incorporate the use of NFTs:
https://forum.giveth.io/t/givcuration-and-nft-incorporation-ideas-brainstorming/289

[2022-01-12 02:40] GriffGreen opened #447 "Make a Snapshot Instance for Governing our Multisigs"
https://docs.google.com/document/d/1ZPfwCIzVq5kgQkjCf_uX_jsyIX--z5PPTWU97dv8Cbs/edit

Asking pedro to take it on ;-D

[2022-01-12 13:11] markoprljic commented on #426
@mosaeedi Please make this modal for @MohammadPCh

[2022-01-12 13:22] markoprljic commented on #443
Yes, aware of this already. Was watching people struggle. Will fix.

[2022-01-12 13:41] #429 closed

[2022-01-12 13:41] #406 closed

[2022-01-12 13:41] #393 closed

[2022-01-12 13:41] #407 closed

[2022-01-12 13:41] #411 closed

[2022-01-12 13:41] #405 closed

[2022-01-12 13:41] #409 closed

[2022-01-12 13:42] #214 closed

[2022-01-12 13:42] #413 closed

[2022-01-12 14:25] laurenluz opened #448 "change onboard.js with web3-react"
will need to change onboard.js with web3-react - lighter, more configurable & can enable whichever wallets we want

typescript uses web3-react

this will allow us to easily integrate fortmatic wallet

[2022-01-12 14:29] laurenluz opened #449 "Merge GIVeconomy & typescript version of giveth.io"

[2022-01-12 14:36] laurenluz commented on #401
For round 1 it is ok - still need to make a good solution for other tokens

[2022-01-12 14:37] laurenluz commented on #401
need to work on a solution to make it automatic

[2022-01-12 14:39] laurenluz commented on #445
subscription was for 1 year free, we need to reapply to extend subscription

[2022-01-12 14:41] #431 closed

[2022-01-12 14:45] laurenluz commented on #223
use the "primary deep 100" colour @MohammadPCh :)

[2022-01-12 15:08] laurenluz opened #450 "Add popup for torus login users telling them to lower shields"
@mateodaza @MoeNick  is there an issue for this already for giveth.io?

I think we don't need to double to the work :) can have on person implement it in both places

[2022-01-12 16:54] ForestSoleil commented on #437
I think it was from my project page 'verify your project' but i do not remember. That way now at least seems to he working.

[2022-01-12 22:08] laurenluz opened #451 "Solve the issue of many votes to distribute GIVbacks"
As per @divine-comedian 's comment in discord:

Sooo.. we have so many addresses available for GIVbacks that to actually send the function via the agen it exceeds the maximum gas limit for the xdai network....

Talking with Sem the solution he proposed was to cut the script into pieces - 200 addresses per script - which works but this means just for this first distro we have 4 different votes that

[2022-01-13 02:10] GriffGreen commented on #389
sent the email

[2022-01-13 11:29] MohammadPCh commented on #425
I think the best way is to merge projects together. because we can reduce the size of files user needs to download. and the user will download them once. also with this solution, we will prevent duplicate code in different projects.

[2022-01-13 13:23] Zeptimus commented on #84
hero lauren https://coinmarketcap.com/currencies/giveth/ ;D

[2022-01-13 14:28] laurenluz commented on #384
https://forum.giveth.io/t/toping-up-the-givstreams-smart-contract-with-giv/299

[2022-01-13 14:31] laurenluz commented on #84
hehe thanks Zep!!

W the coin gecko link, I think we can close this :D https://www.coingecko.com/en/coins/giveth

[2022-01-13 14:31] laurenluz opened #452 "Apply to control CMC listing"

[2022-01-13 23:24] GriffGreen commented on #384
Yep waiting for 5 day advice process

[2022-01-14 15:05] divine-comedian commented on #451
chatting with @sembrestels and @WhyldWanderer  we came up with a new solution which will take some smart contract magic

basically we'll have to convert the GIVbacks system into a merkleDrop. This means that every 2 weeks we'll need to generate a merkleFile  from GIVbacks data received at the end of every round. We'll also need to create a merkleDistro contract that will disburse GIVbacks GIV allo

[2022-01-14 15:17] GriffGreen commented on #451
I don't think we should recreate the wheel.

This proposal isn't bad, but it will need a lot more thought as there will be a different merkle drop contracts for every round, so the user would need to collect from each merkle drop... then we will need some sort of multicall so they can collect from multiple merkle drops all in one tx, instead of a single tx for every merkle drop collection... and s

[2022-01-14 15:31] divine-comedian commented on #451
Okay Sem came over and dropped some more knowledge

Instead of allocating tokens from the  tokenDistro to the GIVbacks MerkleDistro we instead pass the GIVbacks data into a generic contract that would generate the multiple txs and send them piece by piece to the tokenDistro -

this generic GIVbacks contract would have tigh permissions basically only accepting data from the nrGIV agent (via a vote)

[2022-01-14 15:33] divine-comedian commented on #451
There are glaring security issues because there are no way to check the script of a vote being voted on before it is executed. there are also no verbose outputs in the voting context so there's actually no way to be sure what's being voted on, so any nrGIV holder could create a fake GIVbacks distro and slip it in. I really have pushback on creating this mess of votes and we need a good solution th

[2022-01-14 15:49] markoprljic commented on #414
I made the new header with fullwidth video and moved the sub navigation at the top https://www.figma.com/proto/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?page-id=2%3A60&node-id=3948%3A111086&viewport=380%2C48%2C0.33&scaling=min-zoom&starting-point-node-id=19%3A17139

![Image 2022-01-14 at 4 49 36 pm](https://user-images.githubusercontent.com/5704285/149544365-bbc33864-4b60-4d3e-82d1-c94b74abe

[2022-01-14 16:49] GriffGreen opened #453 "Sort out a solution for Drips from Radicle"
Give an address, a text and sort out a bulk donation bucket

[2022-01-14 17:25] GriffGreen commented on #451
@paxthemax should throw some ideas here too and help us sort this out

[2022-01-14 17:28] GriffGreen commented on #451
Remember also... there is a UX, design, front end and all that to worry about for a change of plans. We can live with trust for our team and some manual checking until we have a real solution

[2022-01-14 18:02] paxthemax commented on #451
Let me see if I understood this correctly.

Our goal is to create essentially a **state machine** that would crank out the allocate GIV calls to the token distro? Essentially we have a **transaction buffer** where we fill it on one end and empty it on the other.

The nrGIV agent would start a GIVbacks batch and fill it out with GIVbacks. This _should_ fit into a single trasnsaction, but again ther

[2022-01-14 18:07] markoprljic commented on #415
![Image 2022-01-14 at 7 06 08 pm](https://user-images.githubusercontent.com/5704285/149563905-e47a9b4f-d27d-4190-bba2-1896a81b2696.jpg)

[Figma here ](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=19%3A17721)

@laurenluz @MohammadPCh @MoeNick

[2022-01-14 19:13] laurenluz commented on #402
Need to update:
- [ ] logos everywhere
- [ ] "switch to xDai" and instances of "xDai" throughout - should say "Gnosis Chain (formerly, xDai Network)
- [ ] documentation

[2022-01-14 21:06] laurenluz opened #454 "Make account to manage CMC listing"
And get them to make sure that our circulating supply is updating based on the API we provided.

@ForestSoleil can you take this on? Seems like we need to make some kind of profile. This is our listing: https://coinmarketcap.com/currencies/giveth/

I forwarded you the email they sent me after I applied.

Here's the spreadsheet explaining something about the onboarding process.
https://docs.google.

[2022-01-14 21:37] aminlatifi commented on #451
Although it's a clever solution and can solve the issue of multiple transactions, there are a couple of points.
The first thing to notice is that we cannot transfer nrGIV balance to another distributor in tokenDistro. To make it clear, we have assigned some balance to nrGIV to allocate later and that can only be consumed by allocating to a non-distributor. If we have new merkleDistros, we must use

[2022-01-14 22:15] laurenluz commented on #447
@pkretzschmar let us know if you have any questions! or if you don't have the bandwidth

[2022-01-15 10:08] markoprljic opened #455 "Error Pages"
404, 401, 500, 502, 503 etc. https://www.presslabs.com/how-to/error-pages/

[2022-01-16 18:21] laurenluz opened #456 "Get GIV on Zapper"

[2022-01-16 18:32] laurenluz opened #457 "Trying to select metamask, in the connect wallet, and it connects to Torus!!"
Mouse over the Metamask fox, it thinks you are selecting Torus and tries to connect to torus wallet

@marthendalnunes can you take a look? makes for a really tough user experience

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/42976513-3984-4dfb-837f-8f8ba6d0f1bb)

[2022-01-17 12:59] markoprljic opened #458 "Add "Buy GIV token" to GIVeconomy landing page"
On the GIVdrop panel add option to Buy GIV tokens. See attached mockup.

![Image 2022-01-17 at 1.57.41 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/4182494e-0da8-4023-9f13-91bd3671aa1b)

[2022-01-17 14:33] paxthemax commented on #451
Based on the discussion with @divine-comedian and Sem, another approach may be possible - essentially hack a MerkleDrop in such a way that it allows us to distribute GIVBacks to the token distro.

This would mean that:
1. Before the GIVBacks are sent, the merkle tree needs to be computed
2. The nrGIV agent now sends the **merkle tree root** instead of calling `sendGIVBacks(address[], amount[])`
3.

[2022-01-17 15:09] #452 closed

[2022-01-17 16:56] MoeNick commented on #439
@aminlatifi pls leave your comments here, and remind you the bug if you can help

[2022-01-17 16:57] aminlatifi commented on #439
It's probably onboardjs and we have plan to remove it in favor or another libaray.
So @marthendalnunes please don't do anything for it yet

[2022-01-17 16:58] #425 closed

[2022-01-17 20:10] laurenluz commented on #414
Looks awesome! @MoeNick can we add this to cherik for this sprint?

[2022-01-17 20:13] MoeNick commented on #414
@MohammadPCh would you provide estimations? If it's tiny we can bring it to an unplanned budget.

[2022-01-18 09:34] MoeNick commented on #445
@willyogo do you have any updates on this?

[2022-01-18 09:35] MoeNick commented on #401
@mohammadranjbarz if it's in this sprint, pls put an estimation. thanks

[2022-01-18 09:37] #103 closed

[2022-01-18 09:52] mohammadranjbarz commented on #401
It's a big task for supporting other tokens, I don't think we can do it in this sprint
@aminlatifi what do you think?

[2022-01-18 16:47] aminlatifi commented on #401
@mohammadranjbarz I can help you if you have bandwidth

[2022-01-18 17:27] mosaeedi opened #460 "Donation Cart"

[2022-01-19 02:13] laurenluz commented on #273
Looks amazing @MohammadPCh !

![image](https://user-images.githubusercontent.com/75490971/150050715-35fb99bf-bbeb-49f2-9370-7f06bf9625ce.png)

[2022-01-19 02:15] laurenluz opened #461 "GIVfarm rewards on Mainnet - dollar value says "$NaN""
@aminlatifi can you have a look? Or assign the correct person?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0cd76b1e-fa28-43a6-9802-a6e62d804d9c)

[2022-01-19 02:17] laurenluz commented on #457
this is so much better, wow. Testing on staging:
![image](https://user-images.githubusercontent.com/75490971/150051079-b367d704-82f3-4d6a-b778-0e8528ef8008.png)

[2022-01-19 02:18] laurenluz commented on #223
Colour looks good on staging

![image](https://user-images.githubusercontent.com/75490971/150051242-8623b8d3-48fa-4033-8f4d-b22c5e379476.png)

[2022-01-19 02:19] laurenluz commented on #149
looks good, just... we need to change the icon for the GIVdrop @MohammadPCh
![image](https://user-images.githubusercontent.com/75490971/150051333-c728edd7-e2d8-486d-96b2-c978cf12324b.png)

[2022-01-19 02:20] laurenluz opened #462 "Change GIVdrop icon in the GIVstream history table"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/90d6e097-dbc5-413d-9abe-0afa99b472d3)

It should be, as per @markoprljic 's comment in the discord:

![image](https://user-images.githubusercontent.com/75490971/150051543-72ddd4e6-3ec2-47e0-99fd-062d19e5dde1.png)

@MohammadPCh

[2022-01-19 02:22] laurenluz commented on #382
I haven't seen this problem anymore. I think it's fixed.

[2022-01-19 02:27] laurenluz commented on #412
I guess it is rounding to whole numbers.. this is ok...
![image](https://user-images.githubusercontent.com/75490971/150052157-41b6230d-908b-4c5d-8d7e-8acc9f07c0d9.png)

[2022-01-19 02:30] laurenluz commented on #427
I don't know how to test this... @divine-comedian can you?

[2022-01-19 02:30] laurenluz commented on #235
looks good.

[2022-01-19 02:32] laurenluz commented on #386
so according to the gardens chat... this wasn't working... waiting on 1hive team to see if it can br resolved.

[2022-01-19 02:33] laurenluz commented on #342
looked correct on staging! I just harvested, so can't put a screenshot

[2022-01-19 02:33] laurenluz commented on #392
love this, working great.

[2022-01-19 02:34] laurenluz commented on #302
This is sooo cool!! working great on staging and production

[2022-01-19 02:35] laurenluz commented on #448
I am assuming this is done because the wallet connect looks different on staging than production... @aminlatifi I don't know how else to test this. can I just move it to done?

[2022-01-19 03:03] laurenluz commented on #439
WOW! Switch network works and it's soooo coool:
![image](https://user-images.githubusercontent.com/75490971/150055085-b4db7efb-2280-4355-b38c-38de643e3c11.png)

However, ran into some other issues, I will move this one to done and create new issues for the bugs

[2022-01-19 03:11] laurenluz opened #463 "Claiming GIVdrop from Torus wallet - things get weird"
Related to #439 with the new Torus wallet integration, there is some funny stuff happening when I try to connect torus wallet and check my givdrop

I was signed in with torus on giv.giveth.io before. I go to the claim page... my torus wallet address is autofilled already... I click "connect wallet"...
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/7e0b3412-0d1c-4352-be1

[2022-01-19 03:15] laurenluz commented on #463
If I disconnct my metamask from the Dapp.. when I click "connect wallet" on the first page... it still tried to open metamask and asks me to select the wallet to connect to.

This is an edge case for sure... where the use has both metamask and torus...

[2022-01-19 03:17] laurenluz commented on #463
I tried testing with a private browser window that did not have metamask extension installed... and when I click to connect my wallet... nothing happens. it doesn't give me the option to select torus at all. This is for sure a bug we need to fix!

[2022-01-19 03:18] laurenluz commented on #440
This issue is being exploring in the forum: https://forum.giveth.io/t/claiming-the-givdrop-for-users-that-asked-for-support/290/15

[2022-01-19 03:21] laurenluz commented on #442
for coingecko circ supply: https://circulating.giveth.io/token-supply

for CMC circ supply: https://supply.giveth.io/giv-supply-cmc?q=circulating

for CMC total supply: https://supply.giveth.io/giv-supply-cmc?q=totalcoins

[2022-01-19 03:24] #437 closed

[2022-01-19 03:26] laurenluz commented on #420
@MohammadPCh The spacing looks a little off on the "Three Pillars of Governance" section...

I think "learn more" is too far from it's corresponding text, and too close to the "Tao Voting" text below it... can we sort out that spacing a little?

![image](https://user-images.githubusercontent.com/75490971/150058442-59667a2f-4222-49e2-86d4-89dd3990a143.png)

[2022-01-19 03:33] laurenluz commented on #418
Well, it looks good but the header doesn't have any links to the regular Giveth homepage... and the "+" is a bit weird. it's not very intuitive that that should open "create a project".

@markoprljic what do you think about this design for mobile? would appreciate your comments.

![image](https://user-images.githubusercontent.com/75490971/150058913-81052d1d-2efd-4a16-9d28-065ccb20221b.png)

[2022-01-19 03:34] #419 closed

[2022-01-19 03:35] laurenluz commented on #421
looks great on mobile

![image](https://user-images.githubusercontent.com/75490971/150059270-b2cf1ce6-b836-4a0b-b154-dc5dd63ab02b.png)

[2022-01-19 03:36] laurenluz commented on #422
@MohammadPCh I think it's a bit crowded between "donate to earn GIV" and "project verification". Can we make a bit more space in here?

![image](https://user-images.githubusercontent.com/75490971/150059342-f64c3e9c-c83d-47e7-a89c-3c064d5a31d0.png)

[2022-01-19 03:37] laurenluz commented on #423
@MohammadPCh Looks a little bit crowded between "learn more" and "expanding GIViverse" - can we make a little more space in here?

![image](https://user-images.githubusercontent.com/75490971/150059425-cee0f53f-a804-4ee7-9a92-8a22b0b539f3.png)

[2022-01-19 03:41] laurenluz commented on #364
from here: https://discordapp.com/channels/502416149343109121/502432256011272195/926094343679389717

viktor — 12/30/2021
Blockscout displays token icons from Trustwalet repository. It should appear on Gnosis chain Blockscout instance, once the info of the original token will be added to the public Trustwallet repo for the ETH Mainnet chain.

viktor — 01/05/2022
You should create a PR to trustwalle

[2022-01-19 03:42] laurenluz commented on #408
https://github.com/1Hive/gardens/issues/499

[2022-01-19 03:43] laurenluz commented on #154
https://github.com/1Hive/gardens/issues/497

[2022-01-19 03:44] laurenluz commented on #387
So the GIVbacks token list issue is done: https://forum.giveth.io/t/givbacks-token-list/253

[2022-01-19 03:49] laurenluz opened #464 "Trying to use Torus wallet with GIVfarm - can't stake"
I was able to connect just fine, but tried testing using the GIVfarm... I clicked approve, signed the tx... then it got stuck "pending"
![image](https://user-images.githubusercontent.com/75490971/150054897-2acc1304-13fc-47e9-b94b-74a7bcb31f61.png)

[2022-01-19 06:13] aminlatifi commented on #464
@laurenluz I tried today and I could. Did you use Chrome?

[2022-01-19 06:14] aminlatifi commented on #464
![image](https://user-images.githubusercontent.com/5684607/150074456-957d926d-7074-4e11-b137-0f850e4a9230.png)

[2022-01-19 06:37] aminlatifi commented on #464
@laurenluz You are right, sometimes it happens. I have difficulties in staking sometimes, but I consider it Torus internal issue rather than our dapp.

[2022-01-19 06:45] aminlatifi commented on #464
Maybe this error cause Torus not work and it's not related to us
![image](https://user-images.githubusercontent.com/5684607/150078019-93f89e93-5c22-42e7-a0fd-8be9e83bd83e.png)

[2022-01-19 06:59] aminlatifi commented on #464
Submitted an issue to Torus
https://github.com/torusresearch/torus-embed/issues/410

[2022-01-19 11:21] markoprljic commented on #418
The mobile header should have icon for the menu, this is the original design
![Image 2022-01-19 at 12 20 57 pm](https://user-images.githubusercontent.com/5704285/150120451-d6c240ea-02d7-4361-81c2-14d9635d6cc4.jpg)

@mosaeedi Will have more info on this since he's working on the mobile version.

[2022-01-19 11:22] markoprljic commented on #462
![Image 2022-01-17 at 4 12 39 pm](https://user-images.githubusercontent.com/5704285/150120548-f8f782b2-1d71-48b5-afe0-7a721b2090e5.jpg)

[2022-01-19 11:41] markoprljic commented on #414
- [ ] Move sub navigation at the top
- [ ] Add full-bleed video (no auto playback) overlayed with giv tokens incl a Play button
- [ ] Update GIVdrop box with options to buy giv
- [ ] Add additional boxes below the GIVdrop box

Figma here https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3948%3A111086

[2022-01-19 11:47] markoprljic commented on #290
What's the status of technical implementation of this issue? Are we doing it? When?

[2022-01-19 12:39] markoprljic commented on #353
After reading Kris comments it is clear that we need to make the cumulative amount prominent because the Harvest function collects all rewards across GIVeconomy and we should clearly state this.
That being said, we would only have ONE Harvest modal for everything instead of different harvest modals as we do now.
On the other hand, if user is on the GIVbacks page and sees 40.09 GIV to claim from GI

[2022-01-19 12:42] divine-comedian commented on #427
wot .. that's interesting ..

![image](https://user-images.githubusercontent.com/67759413/150132679-10ba67b5-304e-45be-bdac-8ad1a9e8de44.png)

[2022-01-19 12:46] divine-comedian opened #465 "Failed transaction shows as successful on UI"
on staging with brave browser w/ clean cache and cookies

While testing out issue https://github.com/Giveth/GIVeconomy/issues/427

I manipulated the gas limit to intentionally make the transaction fail in order to QA the modal changes.. however when the transaction failed on MetaMask the transaction successful modal popped up on the GIVfarm UI - seems confusing!?

![image.png](https://images.zenhu

[2022-01-19 13:56] GriffGreen opened #466 "Change the Covenant in the snapshot instance"

[2022-01-19 14:00] markoprljic commented on #353
First pass on this, check it out @laurenluz
![Image 2022-01-19 at 2 59 37 pm](https://user-images.githubusercontent.com/5704285/150145415-dbd61468-e854-4b0d-9d2a-2758840c39c2.jpg)

[2022-01-19 14:21] laurenluz commented on #449
in progress - will be called giveth-dapps-version-2, when it's done, make new issues related to dapp in here

[2022-01-19 14:30] #466 closed

[2022-01-19 14:33] laurenluz commented on #445
Willy has to log in and apply for the extension. it's in progress.

[2022-01-19 14:34] laurenluz commented on #401
@mohammadranjbarz doesn't have the time for this this sprint, but he will try to work on it after finish his other tasks

fyi @MoeNick

[2022-01-19 14:34] mendesfabio commented on #444
hello everyone! I was digging into the data we have in Giveth database and it seems doable to build the metrics you all suggested. Just to put everyone on the same page, I started building these two dashboards.

1. [Dune dashboard](https://dune.xyz/metacrypto/giveconomy). Has all information about GIVeconomy and the data comes from the blockchain. If we want to move some of these charts to GIVecon

[2022-01-19 14:46] laurenluz commented on #102
With our current script can put in the dates June to December 24...
Review list - for fraud, for correct prices
Can try to distribute betweens round 2 and 3...
work on comms on this
will run the script with price of giv at time of running script... review for fraud and then run again and disribute

will get tokens from rDAO

[2022-01-19 14:47] mohammadranjbarz opened #467 "Implement endpoint for getting totalUsdValue of donations to campaign"

[2022-01-19 14:49] laurenluz commented on #384
can just transfer, doens't need to call a function

[2022-01-19 14:49] mohammadranjbarz commented on #467
I created it by mistake, it's the original issue
Giveth/feathers-giveth#625

[2022-01-19 14:50] laurenluz commented on #402
@MoeNick would be nice to put this on the list for next sprint

[2022-01-19 14:51] laurenluz commented on #414
@MoeNick would be nice to have in this sprint, if there's time

[2022-01-19 14:55] laurenluz commented on #451
@paxthemax to write the final solution in this issue :)

[2022-01-19 14:59] laurenluz commented on #451
@paxthemax and @aminlatifi to discuss :)

[2022-01-19 14:59] divine-comedian commented on #386
new vote here-
https://gardens-staging.1hive.org/#/xdai/garden/0x16388d99199a74810fc572049b3d4d657e7d5deb/vote/6

[2022-01-19 15:08] mosaeedi opened #468 "unarchiving a project"

[2022-01-19 15:13] GriffGreen commented on #102
I would say that we look at any verified projects that are verified NOW and then we need to scan Trace and Giveth.io starting on Feb 28th 2021 (any time, there were no donations that day... at least on Trace) to Dec 24th, 2021 10am

There will be a lot of recirculating donations probably... especially from the Commons Stack :facepalm: so we will probably take some time to review so many months of

[2022-01-19 15:17] divine-comedian commented on #384
ready! https://aragon.1hive.org/#/nrgiv/0x749cccd03c00110cf76f4e009c6eaf59b5f2bd0e/vote/44/

[2022-01-19 15:17] MoeNick opened #469 "Header should"

[2022-01-19 15:18] #469 closed

[2022-01-19 15:23] MoeNick opened #470 "Header - Sign-In"

[2022-01-19 15:35] MoeNick opened #471 "Theme"

[2022-01-19 15:35] MoeNick opened #472 "HomePage"

[2022-01-19 15:35] MoeNick opened #473 "Projects Page"

[2022-01-19 15:36] MoeNick opened #474 "Projects OnePage"

[2022-01-19 15:37] MoeNick opened #475 "Donation Page"

[2022-01-19 16:34] mosaeedi opened #476 "Unarchive project"

[2022-01-19 18:34] #463 closed

[2022-01-19 21:56] laurenluz commented on #353
Ok! So I like it a lot in general.. let's tweak it a bit with comms, some suggestions:

- [ ] I think we should get rid of the "switch network" in the top corner. it's confusing I think to switch from within the modal and will be difficult to implement because you won't be able to switch and then start to open a new claim tx for some other part of the GIVeconomy.
- [ ] Make the top box the total l

[2022-01-19 22:00] laurenluz commented on #102
@divine-comedian can you help to run the script on this and get the data? or @mohammadranjbarz ?

We want all donations from Feb 28, 2021 11:59pm Costa Rica time to Devember 24, 2021 10am Costa Rica time... and it would be great to separate/sort the list in three groups:
- donations to Giveth (our TRACE campaign or project on io)
- donations to verified projects (using the list of projects that ar

[2022-01-19 22:17] #389 closed

[2022-01-19 22:17] #387 closed

[2022-01-19 22:17] #442 closed

[2022-01-19 22:17] #439 closed

[2022-01-19 22:17] #428 closed

[2022-01-19 22:17] #421 closed

[2022-01-19 22:17] #273 closed

[2022-01-19 22:17] #457 closed

[2022-01-19 22:17] #223 closed

[2022-01-19 22:17] #302 closed

[2022-01-19 22:17] #392 closed

[2022-01-19 22:17] #342 closed

[2022-01-19 22:17] #149 closed

[2022-01-19 22:17] #235 closed

[2022-01-19 22:17] #382 closed

[2022-01-19 22:17] #412 closed

[2022-01-19 22:24] laurenluz commented on #414
Adding to Marko's comment with links to the original issues & extras:

- [ ] Move sub navigation at the top #443
- [ ] Add full-bleed video (no auto playback) overlayed with giv tokens incl a Play button
- [ ] Update GIVdrop box with options to buy giv #458
- [ ] Add additional boxes below the GIVdrop box

[2022-01-19 22:24] laurenluz commented on #443
This will get fixed in #414

[2022-01-19 22:24] #443 closed

[2022-01-19 22:25] laurenluz commented on #458
closing this issue because it is part of $414

[2022-01-19 22:25] #458 closed

[2022-01-19 22:36] laurenluz commented on #418
@MohammadPCh can you check in with @mosaeedi on this one? add any estimation if it should be added to this sprint or not

[2022-01-20 15:49] laurenluz opened #477 "Mobile version - improve the popup"
Now that mobile version is working ish!

- [ ] Change text to: "The GIVeconomy DApp is optimized for desktop. Switch to desktop for the best experience or close this box to explore anyway."
- [ ] Make it so that once closed, the box doesn't popup again until a new session starts.

@MohammadPCh @aminlatifi who's the best person for this?

![image.png](https://images.zenhubusercontent.com/5fdfac16a5

[2022-01-20 18:01] mohammadranjbarz commented on #102
@divine-comedian  You already can get first two items, for third one I should do some changes

[2022-01-20 19:35] laurenluz commented on #353
I showed Griff and he suggested:
- perhaps we take out the header "source / liquid / flowing"
- call it "harvest" instead of "harvest all" (because the user has no other choice
- Make last line "GET" and the numbers BIG

Aaand
- Create an alternative version which is essentially the same as our current version... only with the "cumulartive amount" at the top, and then we compare them

[2022-01-21 12:47] divine-comedian commented on #102
@mohammadranjbarz  no problem getting verified project donations and donations to Giveth - looks like we're missing some more information to properly sort trace donations -

![image](https://user-images.githubusercontent.com/67759413/150529224-97ed58a3-2e8f-443c-a0b1-b222cae05176.png)

we'll need some way to check which donations were made  to the giveth campaign - https://trace.giveth.io/campaign

[2022-01-21 12:51] divine-comedian commented on #102
@laurenluz  work started in our data review file for GIVbacks
https://docs.google.com/spreadsheets/d/1iJvE5QCd4wXXd-_2tr4x8H0zgqDGMN0yVMub72EPn48/edit?usp=sharing

you can see some new tabs for retroactive GIVbacks. We'll still need to filter out donations to giveth via TRACE as well as donations to non-verified projects (minus verified projects)

[2022-01-22 20:09] laurenluz opened #478 "The GIV $ values are all saying $0 :("
@MohammadPCh @aminlatifi can you look into this?

![image](https://user-images.githubusercontent.com/75490971/150653934-8a92f957-db91-4b99-8988-ffdb882df4f0.png)

[2022-01-22 20:32] GriffGreen opened #479 "Claimed my GIVbacks and now feel regret... sort of wish it still had the numbers up there"
<img width="1275" alt="Screen Shot 2022-01-22 at 2 29 02 PM" src="https://user-images.githubusercontent.com/14945613/150654443-2cc6bb38-910c-49d1-b621-8cf9a913d904.png">

Harvested GIVbacks and now it shows 0/0 but i wish it would give me a life time totals so i could still feel like a hero!

[2022-01-23 10:08] aminlatifi commented on #448
You are right, I move it

[2022-01-23 11:01] aminlatifi commented on #478
@laurenluz  I cannot reproduce it on staging env

![image](https://user-images.githubusercontent.com/5684607/150675354-08e71477-23a3-4889-898b-d34f047227e3.png)

[2022-01-23 11:09] aminlatifi commented on #478
In production env also I modified the code to have a positive givback and I saw correct price value.

![image](https://user-images.githubusercontent.com/5684607/150675554-ef48aca5-032c-4ba5-849e-55119868d831.png)

[2022-01-23 12:04] GriffGreen commented on #444
Let's get the quick and dirty mvp up that answers questions and then worry about design and UI at a later time.

[2022-01-23 23:51] divine-comedian commented on #386
The latest test vote passed! We're ready to update our covenant with any more changes and create the real vote on the GIVgarden

[2022-01-24 15:19] aminlatifi commented on #465
@divine-comedian I cannot reproduce with lower gas prices. Which module and what gas price did you use?

[2022-01-24 15:54] laurenluz commented on #478
On production for me it is still showing $0:
![image](https://user-images.githubusercontent.com/75490971/150816871-f11de2e6-5740-4bc1-bc38-4fd976024c58.png)

And same on staging:
![image](https://user-images.githubusercontent.com/75490971/150817118-28f8bdac-fa2a-4b3b-bd07-fe108c071848.png)

[2022-01-24 16:43] laurenluz commented on #386
Nice!

So Before we do the real vote....
Just found out yesterday that gardens doesn't want to include a terms & conditions to the gardens UI... and suggested we add terms and conditions for proposals and challenges to the covenant.

Ivy is going to be working on this for the TEC and making changes to theirs. I think we should let them finish it, and fork the TEC version... then update it in one s

[2022-01-24 18:47] GriffGreen opened #480 "Verify the gGIV token on Blockscout"
https://blockscout.com/xdai/mainnet/address/0xfFBAbEb49be77E5254333d5fdfF72920B989425f/contracts

[2022-01-24 22:03] divine-comedian commented on #386
I think we can do updates to the covenant piece-meal. If I understood the original intent was to fix this embarassing mistake we made that's currently in our covenant now. Unless you think it can be done early this week I think we can push to fix this earlier and push the rest later.

[2022-01-25 01:11] laurenluz opened #481 "GIVbacks round #, date and time are not updating!! (FIX ME ASAP)!!"
We're on round 3 but it still says round 1.... Also the dates are wrong.

This should be updating every 2 weeks. Super important!! @MohammadPCh can you fix this asap?

Also it should be starting ever Friday... now it saying monday.

Right now, for me in Costa Rica, it should say:
GIVbacks Round 3
Start Date: Fri Jan 21, 2022 10:00am
End Date: Fri Feb 4, 2022 9:59am

If the times are too complicate

[2022-01-25 06:17] MohammadPCh commented on #481
The number is correct when the user connects his wallet.
![Screenshot from 2022-01-25 09-41-35](https://user-images.githubusercontent.com/17097576/150921097-3151582e-3d37-4c77-b9d6-1ae24952a1a2.png)
when the wallet is not connected, it shows the wrong number.
my solution is using hardcoded start and end times when the wallet is not connected.
@laurenluz

[2022-01-25 22:55] laurenluz commented on #481
That's great Cherik! Super fast ⚡

It looks great now, even when my wallet is not connected

![image](https://user-images.githubusercontent.com/75490971/151073470-68377437-6e2e-4074-9b0d-9c0d77c7812c.png)

[2022-01-25 23:06] laurenluz commented on #461
look good on staging and production

![image](https://user-images.githubusercontent.com/75490971/151074665-bda411db-2612-4ba4-82ac-96d2d4491119.png)

[2022-01-25 23:09] laurenluz commented on #386
ok sure, push it then. I just think it's kind of annoying to make Tao Votes and rally people to change it, but I don't have any clear idea when the Terms will be added for the TEC

[2022-01-25 23:09] laurenluz commented on #478
@aminlatifi this is still happening for Griff and Mitch, going to move it back

[2022-01-25 23:18] laurenluz commented on #440
@divine-comedian any update on Jen or other users being able to claim on staging?

[2022-01-25 23:20] laurenluz commented on #447
We've got a forum post about it! https://forum.giveth.io/t/snapshot-instance-for-managing-multisigs-and-other-general-governance-questions/344/2

[2022-01-25 23:49] laurenluz commented on #384
Looks like we need to add permissions to enact this @divine-comedian - what's the status?

[2022-01-26 12:16] divine-comedian commented on #440
we've made contact! working through troubleshooting the issue

[2022-01-26 12:17] divine-comedian commented on #384
waiting for this to pass - https://aragon.1hive.org/#/nrgiv/0x749cccd03c00110cf76f4e009c6eaf59b5f2bd0e/vote/46/

[2022-01-26 13:40] MohammadPCh commented on #418
when I was implementing the header the menu design was not finished yet. so I postponed it.
I think the story point for implementing this is 3.

[2022-01-26 13:46] divine-comedian commented on #386
script for reference - I will make the vote shortly on the GIVgarden
[code]

[2022-01-26 13:50] divine-comedian commented on #465
these are the settings I used in MM - I just tried it and was able to reproduce the error

![image](https://user-images.githubusercontent.com/67759413/151174895-73ced1d8-3321-4e7c-9851-a83d6dc8d6ab.png)

[2022-01-26 14:13] laurenluz commented on #102
@MoeNick would love to add this to mohammad for the next sprint

[2022-01-26 14:20] laurenluz commented on #440
The tokens were *sent* to the recipients...
The new address will say "you missed the givdrop"
The old address will say "you already claimed"

[2022-01-26 14:21] MoeNick commented on #418
We can do it in V2 and stop implementing new things in the old repo.

[2022-01-26 14:28] laurenluz commented on #445
we have 39 days left on it and a couple grand worth of credit

[2022-01-26 14:31] laurenluz commented on #364
we may need to give them 1 BNB for them to merge the PR
they've been strict with rules
@willyogo tried once already, will post the issue here and @GriffGreen will follow up

[2022-01-26 14:32] laurenluz commented on #456
Chadfi can do it!

@laurenluz to assign

[2022-01-26 14:34] markoprljic commented on #455
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3934%3A106532

[2022-01-26 14:34] laurenluz commented on #455
@MoeNick to create the issue for v2

[2022-01-26 14:35] markoprljic commented on #455
@MoeNick Also add @mosaeedi to that issue to prepare responsive guides and mobile view for the Error pages.

[2022-01-26 14:37] laurenluz commented on #477
Needs to be fixed in both projects

[2022-01-26 14:39] laurenluz commented on #118
@paxthemax to cat herd

[2022-01-26 14:40] laurenluz commented on #453
GIVmatching!! Forum post is out

[2022-01-26 14:42] #232 closed

[2022-01-26 14:43] laurenluz commented on #402
will postpone to implement in the next version

[2022-01-26 14:45] laurenluz commented on #451
PR is pending will resolve this issue - @aminlatifi to review PR

[2022-01-26 15:26] markoprljic commented on #353
@laurenluz wasn't sure I understood that in the brackets and I'd definitely avoid it anyway because it's adding more complexity for the user to understand. Tooltips are not always the solution, we should aim to make the UI intuitive and understandable itself.
If you could describe me the brackets problem a bit more maybe we can find a better solution.
If it's already in the stream then we might no

[2022-01-26 15:40] markoprljic commented on #479
How would that reflect to other Harvest panels on GIVgarden and GIVstream?
I'd rather not clutter this small panel with more information. I was thinking putting a small "Last harvest: 17,688.34 GIV" on the right or below.

<img width="504" alt="Screenshot 2022-01-26 at 16 40 26" src="https://user-images.githubusercontent.com/5704285/151195445-40caaba8-bbeb-43c8-af25-658438fedee1.png">

[2022-01-26 15:47] paxthemax commented on #118
Auditor responded, he will prepare the audit report. ETA TBD

[2022-01-26 15:48] aminlatifi commented on #478
Should be fixed now!

[2022-01-26 15:57] laurenluz commented on #456
Hey @chad-fi !

So this issue is to get the GIV token (an our GIVfarms) on https://zapper.fi/dashboard

Here is GIV on coingecko: https://www.coingecko.com/en/coins/giveth

Here are our GIVfarms: https://giv.giveth.io/givfarm

I'm not totally sure how to do this, so the first step would be to investigate that... See the requirements etc. If you find some form or something and need some input on wh

[2022-01-26 19:17] laurenluz commented on #478
the $ value is showing up, but I think it's not being calculated right.. I thinkt my $ value should be more like $33 and $211 in this case.

![image](https://user-images.githubusercontent.com/75490971/151230938-3546306f-9a79-42a5-9b7f-08b8fd1e5611.png)

from coingecko:
![image](https://user-images.githubusercontent.com/75490971/151231017-37374819-9c45-4463-b930-efc1c22bf63c.png)

[2022-01-26 19:18] laurenluz commented on #478
it's not sooo off, but having the amount show up as less than coingecko says is a small bummer. @aminlatifi

is this because our GIV $ amount is a little delayed? GIV has been on the up...

[2022-01-26 19:28] laurenluz commented on #353
Yeah so when GIVbacks are distributed, they get added to the token distro right off the bat (unlike rewards earned in the GIVfarn). This means:
- the GIVbacks "amount" is shown as a constant value which is "the amount earned from GIVbacks that was liquid at the time of GIVbacks distribution"
- the GIVbacks "streaming amount" is also a constant value - a flowrate - and this is added *already* to th

[2022-01-26 19:30] laurenluz commented on #353
Maybe we can have the GIVstream shown as...

190 GIV/week + 10 GIV/week from GIVbacks (or something like this...) in one "data cell"
and then under it we see the extra flowrate from the GIVfarm they get when harvest.
We leave the GIVbacks streaming amount blank... 🤔

[2022-01-26 20:13] aminlatifi commented on #478
We use trace backend, it updates the price every one hour! I agree we need a more precise number.
We may create a separate token service to serve impact-graph too, or have a separate backend for giveconomy to compute APRs and token price.

[2022-01-26 20:28] aminlatifi commented on #478
@laurenluz You are right, I did a mistake. It will be fixed in few minutes

[2022-01-26 20:45] MoeNick commented on #455
@markoprljic I think he's aware of it due to these signs here, seem all of these pages, responsiveness and mobile are under construction:
however, I can add it to the notion, if you agree.

![image](https://user-images.githubusercontent.com/80677512/151243978-cb0b5afe-ad33-43fa-b07c-e66a6dace890.png)

[2022-01-26 21:02] laurenluz commented on #478
You da best @aminlatifi

[2022-01-26 21:51] MoeNick opened #482 "Search Bar Bug: when clicks on back"

[2022-01-26 23:29] chad-fi commented on #456
Looks like Willy put in a request already to add Giveth to Zapper: https://features.zapper.fi/protocol-requests/p/httpsgivethio

I'll see what I can do to push this forward.

[2022-01-26 23:42] laurenluz commented on #456
haha WOW @willyogo you're so cool 😎

Thanks for looking into it @chad-fi ! Lmk if you have any questions or need support pushing it through

[2022-01-27 07:08] aminlatifi commented on #465
@divine-comedian Get the point, you had entered lower gas limit and the tx failed due to out of gas.

[2022-01-27 09:53] aminlatifi commented on #414
@laurenluz let's make this an epic and define subtasks
https://github.com/Giveth/liquidity-mining-dapp/issues/163 has moved tabs to the top

[2022-01-27 22:39] divine-comedian opened #483 "switch network button doesn't work"
on brave browser clean cache and cookies

trying to use the toggle to switch networks on the GIVfarm and currently the button does nothing - I can see this message appears in my console -
`network change is not supported for wallet  null`

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/6eb853da-706b-455f-ba7e-807a16149be9)

I tested the same switch network feature on gi

[2022-01-28 16:19] WhyldWanderer opened #484 "UI not updating after harvesting rewards"
I harvested my rewards this morning... The harvest was successful and the tokens showed in my wallet but the UI still has not updated after 1.5 hours. I was able to wrap my tokens in the garden directly but the GIVfarm page showed no change afterward. I have cleared cache, refreshed, signed out and back in, and still no change.

Dani is also experiencing this here:
https://discordapp.com/channels/

[2022-01-31 12:26] markoprljic commented on #353
If I understood this correctly then something like this? @laurenluz

![Screenshot 2022-01-31 at 13.25.37.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/0443c973-1587-4220-a56c-312cc0adb4c8)

[2022-01-31 13:09] laurenluz commented on #353
The only thing missing is the GIVbacks liquid portion. That would come as well when they claim.

Only the flowrate is automatically to their givstream

@markoprljic

[2022-01-31 15:26] markoprljic commented on #353
I thought so but wanted to hear it from you. Thanks :)

[2022-01-31 15:35] markoprljic commented on #353
@laurenluz I'm just not sure why we're separating the GIVbacks liquid and stream? I understand it's because the stream is already added to the stream and the liquid portion is claimable but still... it looks like this is harder to understand as opposed to the original version with just GIVbacks claimable and stream.

<img width="613" alt="Screenshot 2022-01-31 at 16 30 16" src="https://user-images

[2022-01-31 16:03] #461 closed

[2022-01-31 16:03] #481 closed

[2022-01-31 16:03] #464 closed

[2022-01-31 16:03] #448 closed

[2022-01-31 16:39] laurenluz opened #485 "Set up GIVmatching pool"
As per https://forum.giveth.io/t/givmatching-mvp-the-now-part/345/8

[2022-01-31 19:14] MoeNick commented on #102
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/GIVeconomy/102?planning-poker) with ZenHub @mohammadranjbarz

[2022-01-31 21:27] laurenluz commented on #484
@aminlatifi did you investigate this issue at all?

[2022-01-31 21:29] laurenluz commented on #484
I just tested it, and from my side, it is working as expected. Both harvesting and staking are working fine on production...

@WhyldWanderer @Danibelle are you still experiencing this issue?

[2022-01-31 21:53] WhyldWanderer commented on #484
I'm not having this issue anymore.
There were also reports in the support channel:
https://discord.com/channels/679428761438912522/835168432520429578/936703831214002186
Seems that it was resolved that day by @MohammadPCh and @MoeNick

[2022-01-31 22:51] Danibelle commented on #484
I am resolved!

[2022-01-31 23:26] laurenluz commented on #484
weird, I will close it and keep an eye out. Make a new issue if you experience it again. thanks fam!

[2022-01-31 23:26] #484 closed

[2022-02-01 01:34] laurenluz commented on #353
Version 2 looks great! I'll see if I can get feedback from @krrisis or any other users

[2022-02-01 16:41] laurenluz commented on #479
I added a comment in the figma "Next" for "My account"... I think it would be nice to show culumative GIVbacks somewhere... maybe we add it as a new section on this page as well... Something like my suggestion here... we could but a "total number of eligible rounds" and
"total GIV earned from GIVbacks to date"

The totals are powerful... https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-

[2022-02-01 20:25] laurenluz opened #486 "APR on univ3 pool is wrong"
Reported by a user, it appears that the APR is off by a factor of 10. @aminlatifi would be great if you could investigate this

[2022-02-01 21:29] laurenluz opened #487 "Name GIVcuration"
Here's the [spec](https://docs.google.com/document/d/1NpyiETNClSw2BGLqE4ucr2eem5VtmZcIpHzFneC0ciE/edit#heading=h.ayfvgyuy22lo)

Some key points:
- Users can stake & lock GIV to earn a yield (more GIV) & get **GIVpower**
- These "GIVsomethings" can divide their GIVpower among their favourite verified projects (snapshot style, no gas)
- Donors to projects with the most collective GIVpower get a grea

[2022-02-01 21:53] laurenluz commented on #487
GIVsort / GIVsorting
GIVorder
GIVresponsibility
GIVicorn
GIVstaking
GIVorder
**GIVranking**
GIVchoice
GIVchoose
GIVgroups
GIVpoll
GIVarray
GIValign
GIVbrain
GIVtrend
GIVaHoot
GIVgrowth
GIVexpert
GIVinfluence
GIVPC (project curation)
GIVulation
GIVtribute
GIVstribution
GIVafuck
GIVops
GIVstars
GIVpower

[2022-02-01 21:54] laurenluz commented on #487
ok, we're calling it GIVaHoot 🦉

[2022-02-02 00:21] divine-comedian commented on #386
vote is up on the GIV garden!

https://gardens.1hive.org/#/xdai/garden/0xb25f0ee2d26461e2b5b3d3ddafe197a0da677b98/vote/4

[2022-02-02 00:24] divine-comedian commented on #440
the vote passed! GIV should already be in their wallets

https://aragon.1hive.org/#/nrgiv/0x30c9aa17fc30e4c23a65680a35b33e8f3b4198a2/vote/20/

[2022-02-02 01:06] laurenluz commented on #487
Just kidding. We're calling it GIVpower.

Had a chat w Willy, and Griff is on board.

So @markoprljic let's call it GIVpower... no more "GIVcuration"... and the users have GIVpower that they can distribute. We call the page in "My Account" where they distribute their GIVpower, "My GIVpower"

[2022-02-02 01:16] laurenluz commented on #462
looks g8

[2022-02-02 01:16] #462 closed

[2022-02-02 01:20] laurenluz commented on #465
looks great

![image](https://user-images.githubusercontent.com/75490971/152078363-02d26c2a-8c19-4fa3-814b-f8e010f9cee0.png)

[2022-02-02 01:20] #465 closed

[2022-02-02 01:21] laurenluz commented on #426
excellent

![image](https://user-images.githubusercontent.com/75490971/152078444-03db0171-2556-4bcc-865e-9d33092b8bdd.png)

[2022-02-02 01:21] #426 closed

[2022-02-02 01:23] laurenluz commented on #415
look great

[2022-02-02 01:23] #415 closed

[2022-02-02 01:23] laurenluz opened #488 "Get GIVtoken logo on uniswap"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0bb47a1b-1cfd-43f5-a835-6fef0a400d4e)

[2022-02-02 01:23] #478 closed

[2022-02-02 01:24] #427 closed

[2022-02-02 01:26] laurenluz commented on #384
waiting for permissions

[2022-02-02 01:33] laurenluz commented on #447
https://snapshot.org/#/giv.eth/proposal/0x1f46ec458a6f3f898285a6d785effb71e81509fb5078d210bb5397fc2395fc59

Test one is here!!

Still missing the univ3s

[2022-02-02 01:40] laurenluz commented on #485
@playingleela post the designs for this in here when you have them ready please :)

[2022-02-02 01:42] #106 closed

[2022-02-02 01:42] #12 closed

[2022-02-02 01:42] #13 closed

[2022-02-02 01:42] #11 closed

[2022-02-02 01:42] #6 closed

[2022-02-02 01:42] #14 closed

[2022-02-02 01:45] laurenluz commented on #453
Drips are dripping into donation.eth

[2022-02-02 01:45] #453 closed

[2022-02-02 01:46] laurenluz commented on #399
@markoprljic this is just something I noticed... what do you think? worth adding a popup/message? or not?

[2022-02-02 02:21] #483 closed

[2022-02-02 02:23] chad-fi commented on #488
UniSwap uses the TrustWallet assest repo to list tokens. Some instructions below. We'll need to pay a fee in BNB or TWT upon submission.

Instructions:
https://community.trustwallet.com/t/how-to-submit-a-token-logo/3863

ERC-20 Repo:
https://github.com/trustwallet/assets/tree/master/blockchains/ethereum/assets

Who would have a high-res logo and which wallet should we use to pay the fee?

[2022-02-02 02:35] chad-fi commented on #488
https://github.com/trustwallet/assets/pull/16846

Once again, looks like @willyogo is on top of it! What support can I give you on this?

[2022-02-02 06:17] markoprljic commented on #399
I didn't know about this scenario. Why is it that they save in gas when harvesting from the farm? Aren't we using the same harvest modal across the GIVeconomy, and isn't the user harvesting all rewards regardless from where they trigger the Harvest function?

Curious to know why we can't harvest from the farm anyway regardless where user triggers the function and thus avoid the need to inform them

[2022-02-02 10:35] aminlatifi commented on #486
@paxthemax the logic of uniswap apr calculation is here
https://github.com/Giveth/liquidity-mining-dapp/blob/5da8e097f6d1f67f36c427d839ebd1e9da1548ac/src/context/positions.context.tsx#L237

[2022-02-02 15:17] willyogo commented on #364
Here is the failed PR attempt: https://github.com/trustwallet/assets/pull/16846

and their response:
As per our policy, brand new tokens are not included, there is a minimum requirement of 10,000 holder addresses and 20,000 transactions, in order to filter out scam tokens.
See the criteria at : https://developer.trustwallet.com/assets/requirements .

We're not at 10k holders yet, but we are well o

[2022-02-02 15:44] laurenluz commented on #480
it is done!
https://blockscout.com/xdai/mainnet/address/0xfFBAbEb49be77E5254333d5fdfF72920B989425f/contracts

[2022-02-02 15:44] #480 closed

[2022-02-02 15:48] ForestSoleil commented on #454
1. Asset is listed on CMC.

2. Created and verified an account on Coin Market Cap
_**Where is a secure place for me to store the login info for others who may need to access it? I realize github is publicly visible.**__

3. Emailed the support team with our verified email/URL according to our actual domain.

4 & 5. @laurenluz can you please post the following to twitter?

This is a verification po

[2022-02-02 16:10] playingleela commented on #485
heyy lauren, here it goes the banner, let me know if this size works and if you need any changes (:
<img width="698" alt="Frame (13)" src="https://user-images.githubusercontent.com/94190369/152191801-e48cc1c1-654b-477d-ad49-a0cfeebf028d.png">

[2022-02-02 22:06] laurenluz commented on #399
When you harvest from the farm, you only harvest from one farm at a time, not all. Those rewards aren't *already* in the token distro. But when you harvest them, you also get everything sent to you from the token distro.

GIVbacks rewards, GIVdrop, GIVstream... they are all together in the token distro so harvesting is done in on tx.

It doesn't make sense to harvest all farms together both becaus

[2022-02-02 22:13] laurenluz commented on #454
Here you go: https://twitter.com/Givethio/status/1488999036375994373

You can send me the login info in a DM, I think we can put it in the ops channel, just waiting to make sure that it's secure

[2022-02-03 14:06] markoprljic commented on #353
@laurenluz I asked Kris already and his feedback was positive.
Let me know if this is ready to pass over to devs.

[2022-02-03 14:35] Danibelle commented on #487
well GIVpower is cool..  but I hope we use GIVguardians for something cuz it's REALLY cool.

[2022-02-03 15:45] laurenluz commented on #487
hahaha @Danibelle I feel the same!!!

[2022-02-04 12:29] GriffGreen opened #489 "$$$ not showing up in NFT harvest modal"
![Screen Shot 2022-02-04 at 6 28 24 AM](https://user-images.githubusercontent.com/14945613/152529170-4f55ec50-f18d-4763-8a67-5ee9f6b5d985.png)

[2022-02-04 21:48] laurenluz commented on #489
@MohammadPCh @aminlatifi can you look into this? it looks ok for me but Griff was having this issue

[2022-02-05 00:32] GriffGreen commented on #440
I think we should put this on our todo list for the end of Feb too.

[2022-02-07 13:20] divine-comedian commented on #384
new vote is made - https://aragon.1hive.org/#/nrgiv/0x749cccd03c00110cf76f4e009c6eaf59b5f2bd0e/vote/54/

I messed up the formatting on the original vote on top of not having the right permissions - this new vote should resolve the issue

also when/if we install a finance app for managing the treasury these sorts of formatting errors should be come impossible.

[2022-02-07 15:35] laurenluz opened #490 "Univ3 APR Quick frontend fix"
@MohammadPCh This issue is that the APR here is wrong and we don't get know why.

Please change the number to a "🎁" and make this a hover tooltip.

The hover tooltip should say: "We are experiencing some technical issues with the APR calculation. We appeciate your patience."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a582833d-3907-4608-8714-b97f1abde83d)

This is t

[2022-02-08 12:59] markoprljic commented on #353
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4808%3A111862

[2022-02-09 14:08] laurenluz commented on #451
@paxthemax @divine-comedian any updates on this?

[2022-02-09 14:44] laurenluz opened #491 "Create a popup on Univ3 pool explaining concentrated liquidity"
Should say:

"Concentrate your liquidity for higher the APRs. The narrower your price range, the higher your rewards."

[2022-02-09 14:45] laurenluz opened #492 "Create a bot to remedy univ3 pool attack"
Someone has been putting a narrow range, eating all the univ3 rewards & then dumping GIV.

Would be great to have a bot that pushes it out of range quickly.

[2022-02-09 14:49] laurenluz opened #493 "Create range of UniV3 APRs"

[2022-02-09 14:52] laurenluz commented on #491
@MohammadPCh can you set this up asap :)

It should replace the text on the hover tooltip over the 💝

[2022-02-09 14:56] laurenluz opened #494 "Forum post to reward GBeast"

[2022-02-09 14:57] laurenluz opened #495 "Make a tweet to share APR thing"
- explain lessons learned
- explain attacker?
- shout out to GBeast

[2022-02-09 17:17] ForestSoleil commented on #454
Thanks, I submit this to support and am working through the lengthy application with them.

[2022-02-09 21:08] #485 closed

[2022-02-09 21:08] #490 closed

[2022-02-14 08:15] mohammadranjbarz commented on #102
@MoeNick

I implement an endpoitn `/not-eligible-donations` in givback-calculation project, so if you call that, you will get
The donations of purple list givers of giveth.io/giveth trace + donations to unverified projects(campaigns/trace) in giveth trace
And I added the name of entity that has been donated to( for giveth trace donations)
Is it enough?

**PS** As I would go to trip in few hours an

[2022-02-14 12:50] MoeNick commented on #402
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=333%3A41275

[2022-02-16 16:39] aminlatifi opened #496 "Calculate uniswap pool in price range liquidity"
Total liquidity in price range of uniswap v3 pool is required to calculate farm maximum APR

[2022-02-16 21:27] divine-comedian commented on #102
I think this should be fine but we need to verify if purple list donors would be eligible for GIVbacks or not. we'll need to modify the endpoint based on this. or perhaps a new endpoint that is donations to non-verified projects minus purple list donations.

let's check in with @thegriff and @laurenluz

[2022-02-19 19:08] aminlatifi opened #497 "Document Uniswap V3 Staking APR Calculation"

[2022-02-21 12:14] mohammadranjbarz commented on #102
- [ ] The donations of purple list givers of giveth.io/giveth trace + donations to unverified projects(campaigns/trace) in giveth trace
- [ ] Add names of trace givers in script output
- [ ] donations to non-verified  projects(in giveth.io? ) minus purple list donation

@divine-comedian  I think there are lots of comments, maybe it's better to make it clear, do you can check this checklist to see

[2022-02-21 15:57] divine-comedian commented on #102
@mohammadranjbarz  I just checked in with griff and co. We can include donations to non-verified projects, including purple list donations.

[2022-02-21 16:32] mosaeedi opened #498 "Project hover effect"

[2022-02-21 16:40] mosaeedi opened #499 "View similar projects"
We need to know what we should do about _"View similar project"_!
showing inside the page or on another page?

I agree with @MoeNick to show it inside the single project page, at the bottom, but load them after loading all of the single project page content to prevent slowing the page load, and we can show a _show more_ button to get the user to the new page and list all similar projects.

![Scree

[2022-02-21 20:42] MoeNick commented on #486
Shall you pls update us here? @aminlatifi is calculating the maximum in-progress?

[2022-02-22 10:34] aminlatifi commented on #486
The minimum APr is obtained and shown on front-end right now. To calculate the maximum apr we need liquidity in price range value which should be followed by this issue #496

[2022-02-23 00:58] #386 closed

[2022-02-23 01:35] #384 closed

[2022-02-23 08:09] mohammadranjbarz commented on #102
@divine-comedian  @WhyldWanderer

Now we have to endpoints for getting donations:
1. https://givback.develop.giveth.io/api-docs/#/default/get_eligible_donations Return all donations to verified projects/campaigns and purple List addresses are excluded

2. https://givback.develop.giveth.io/api-docs/#/default/get_not_eligible_donations Return all donations to unVerified projects/campaigns and donati

[2022-02-23 14:13] laurenluz commented on #493
Minimum APR is live!

Would be great to show the max APR:
- it's inticing and encourages people to provide liquidity
- it makes it clear that the narrow range make a huge difference
- if the number goes down a lot, it's an easy way to see that someone is gaming things

@paxthemax is going to work on the max!

[2022-02-23 14:22] laurenluz commented on #401
uniswap has a subgraph that shows the price of the token, we can use a proxy to receive a query w token & block number & get data from uniswap... could be easy to update! - Amin

not all tokens are on uniswap, but we can repeat the same code on honeyswap on xdai since it's a fork on uniswap.

gemini supported tokens may not be on uniswap but we can query gemini's API to get the price for these

[2022-02-23 14:24] laurenluz opened #500 "Figure out if our GIVbacks token list tokens are on uniswap"

[2022-02-23 14:24] laurenluz commented on #500
Note that, Gemini tokens may not be on there

[2022-02-23 14:58] laurenluz commented on #489
Griff tested and it looks good!

[2022-02-23 14:59] laurenluz opened #501 "Stake our DAO-owner univ3 LP into the GIVfarm"
We have a univ3 pool that the liquidity multisig controls. We should stake it! The multisig will need to interact w the farm to stake it.

@divine-comedian can you take it?

https://etherscan.io/tx/0x28e8d81e6077db26bde9818770d8d2c68266b9a0c4c38bd763289b6566454724

^this is the position that was transferred to the multisig

[2022-02-24 22:19] divine-comedian commented on #102
@mohammadranjbarz  wow your API work is amazing!

I test out `not_eligible_donations` and `eligible_donations` the information produced in the CSV file came out clear. very nice work!

One small change would be when I download the not_eligible_donations csv file the default file name is `purple-list-donations...` maybe we change this to `not-eligible-donations...` to match the name of the endpoint

[2022-02-24 22:46] divine-comedian opened #502 "WalletConnect - Can't connect to network"
testing on `giv.giveth.io`

I would like to connect my gnosis-safe to the GIVeconomy using WalletConnect. I select WalletConnect from the options that pop up from the top-right button `CONNECT WALLET`. I get the code and plug it into my gnosis-safe app and gnosis-safe correctly recognises and connects to the app.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/23dece43-

[2022-02-24 23:16] divine-comedian commented on #440
I don't have any new information regarding addresses to change since the last one we already finished.

[2022-02-24 23:18] Yuxanju commented on #502
You will have to synchronize your wallet ans then you debug it with bech 13

[2022-02-24 23:18] Yuxanju commented on #502
You will have to synchronize your wallet and then you debug it with bech 13

[2022-02-25 16:53] divine-comedian commented on #501
We'll have to get wallet connect up and running for the GIVeconomy, this would be the safest way to stake the NFT. I created an issue with some troubles I had getting WalletConnect to work with gnosis-safe.

https://github.com/Giveth/GIVeconomy/issues/502

[2022-02-25 18:24] mohammadranjbarz commented on #102
Nice catch, I fixed the name of downloadd file

<img width="1436" alt="Screen Shot 1400-12-06 at 21 53 35" src="https://user-images.githubusercontent.com/9850545/155767843-1f3e8d26-cd4c-4d5b-bb1d-d547e20ddbc0.png">

ُاشدنس

[2022-02-25 20:59] divine-comedian commented on #502
@aminlatifi  any ideas why this doesn't work?

[2022-02-25 21:36] Yuxanju commented on #502
You have to synchronize your wallet and then you debug it

On Fri, Feb 25, 2022 at 12:59 PM Mitch ***@***.***> wrote:

[2022-02-25 22:36] divine-comedian commented on #502
@Yuxanju

Can you explain more what you mean by this? This explanation is very vague.
The WalletConnect app works fine with my gnosis safe in other apps such as Gardens

[2022-02-25 22:56] Yuxanju commented on #502
What I mean is that your will have to synchronize your wallet with the
bech13 and then after that you reboot your device and everything will work
fine .. I can send you the link if you want me to

On Fri, Feb 25, 2022 at 2:36 PM Mitch ***@***.***> wrote:

[2022-02-27 10:59] aminlatifi commented on #502
@Yuxanju Yes please

[2022-02-27 11:39] aminlatifi commented on #502
@divine-comedian It should be fixed now, please check it.

[2022-02-28 00:33] divine-comedian commented on #502
@aminlatifi
I was able to successfully connect to the GIVfarm however I'm having some trouble to do some interactions

(On Gnosis Chain)
Staking GIV I was able to do but the UI would not update when the transaction was completed on the gnosis-safe. I had to page refresh in order to proceed from approve and then again to stake.

I made a GIV/WETH Test LP on sushiswap, sent the LP to my gnosis-safe

[2022-02-28 00:42] divine-comedian commented on #502
I also tried staking a Univ3 NFT via WalletConnect/Gnosis Safe on the GIVfarm on mainnet and it was unable to produce a transaction on the gnosis-safe

[2022-02-28 02:34] Yuxanju commented on #502
You will need a bech13 link to debug your wallet

On Sun, Feb 27, 2022 at 4:42 PM Mitch ***@***.***> wrote:

[2022-02-28 06:16] aminlatifi commented on #502
@Yuxanju Can you send me a link this bench13 tool

[2022-02-28 07:13] aminlatifi commented on #502
Staking is implemented by stakeWithPermit method, which means the user should first sign a message and then pass the signed message as a parameter to a method call to a unipool smart contract. Except givGarden staking which needs two transaction regularly, first is an approve allowance transaction and the second is wrapping call. @divine-comedian Can you test staking in givGarden and see whether i

[2022-02-28 08:39] Yuxanju commented on #502
@amin www.ellipalsuites.com

On Sun, Feb 27, 2022 at 10:16 PM Amin Latifi ***@***.***>
wrote:

[2022-02-28 10:26] aminlatifi commented on #502
@divine-comedian
I made a change to the code so I could make the tx, still working to make it complete and push

<img width="2660" alt="image" src="https://user-images.githubusercontent.com/5684607/155967030-90603c0d-06f8-415e-9381-5ca5c9c12318.png">

[2022-02-28 11:20] MoeNick opened #505 "Implement newly designed hover of projects card"
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=2059%3A59953

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/39042d8a-ad0a-409b-a7ab-43ae077cc46b)

[2022-02-28 11:33] aminlatifi commented on #502
@divine-comedian I pushed the update, you can create multisig tx now.
But stake with permit doesn't work with multisig

[2022-02-28 21:22] divine-comedian commented on #502
What does that mean, stake with permit?

I just tried again on https://liquidity-mining-dapp.vercel.app/givfarm to stake my GIV/ETH Test Sushi LP. I receive the same transaction error.

[2022-02-28 21:49] divine-comedian commented on #501
tx pending - https://gnosis-safe.io/app/eth:0xf924fF0f192f0c7c073161e0d62CE7635114e74f/balances

[2022-03-01 10:59] MoeNick opened #506 "Single Project Public View: GivBacks toast should change, with a Learn More link to Docs"
This is the required design change:

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1908%3A67350

Please link "Learn More" to https://docs.giveth.io/giveconomy/givbacks

[2022-03-01 15:14] divine-comedian commented on #402
this this the most common asset I've seen for the gnosis chain symbol -

![Aatar_green_white](https://user-images.githubusercontent.com/67759413/156195173-ae53745b-df88-4b35-b0c0-6f8018fb1333.svg)

[2022-03-01 15:15] divine-comedian commented on #402
I'd love to take on this issue - including adding Gnosis Chain media to the ui-design-system package

[2022-03-01 18:34] aminlatifi commented on #502
If you notice, staking in givGarden is different than others (except uniswapv3 which is nft based). Generally, we use `stakeWithPermit` method on unipool to stake by which the user first signs a message offline and then does a call to that method with signed message data. But for staking in givGarde, you first make a tx to give enough allowance to smart contract and then make another tx to transfe

[2022-03-01 22:35] divine-comedian commented on #501
DONE!

https://etherscan.io/tx/0xae28979b6d2654016bed15a55415d5464258b3aacb618cbf2fb305d1c2fc01ff

[2022-03-01 22:37] divine-comedian commented on #502
@aminlatifi  Okay I understand - Were you able to reproduce/resolve the issue of staking regular LP tokens in the GIVfarm?

[2022-03-02 05:37] aminlatifi commented on #502
I made #188 for it

[2022-03-02 12:45] markoprljic opened #507 "Get involved button on Project single page"

[2022-03-02 12:46] markoprljic commented on #507
From Discord user:

[2022-03-02 14:14] laurenluz opened #508 "Change UI for univ3"
maybe we represent it as a range.
maybe we should the avg w a tool tip.
maybe all the info is in a tooltip.

we need to see the max number before we decide the best UI

[2022-03-02 14:32] laurenluz opened #509 "Create forum post explaining univ3 issue & snapsote vote"
We are considering turning off univ3 because of the attacker & inflated rewards. We need a vote.

[2022-03-02 14:33] laurenluz opened #510 "Analyze subgraph to determine who is providing univ3 liquidity"
see how many people, how much liquidity... we will pay their rewards if/when we shut off univ3

[2022-03-02 18:59] laurenluz commented on #440
looks like there were 4 requests since we last did the change. I'll ask griff if he reviewed them

[2022-03-02 19:14] divine-comedian commented on #102
forum post is up - https://forum.giveth.io/t/retroactive-givbacks/412
We'll look for advice and keep the community updated on the review and distribution process via this thread.

[2022-03-03 13:37] mohammadranjbarz opened #511 "Implement createProject mutation to work with new version"
This webservice get `image` as pinataUrl in input

[2022-03-03 13:46] #511 closed

[2022-03-03 13:50] mohammadranjbarz opened #512 "Implement updateProject mutation to work with new version"
This webservice get image as pinataUrl in input, after finalizing new version of giveth.io we will remove `editProject` mutation

[2022-03-03 13:50] mohammadranjbarz commented on #512
This should be in impact-graph, I delete this one :))

[2022-03-03 13:50] #512 closed

[2022-03-03 15:55] ahmadabugosh opened #513 "Add Paragraph for SEO on Homepage and project pages"

[2022-03-03 16:09] ahmadabugosh commented on #513
@MoeNick hey not sure why but i cant seem to add this on the dapp v2 repo

[2022-03-06 09:34] aminlatifi commented on #510
The list of staked positions and their liquidity can be obtained by running the below query here https://api.thegraph.com/subgraphs/name/giveth/giveth-economy-mainnet/graphql

[code]

[2022-03-07 19:45] markoprljic opened #514 "GIVpower User Research"
Giveth is working on a project right now called GIVpower, which  will, over time, decentralize GIVbacks. Community members will be able to allocate GIVpower to signal support for the favorite projects on Giveth . So we would want to understand Users thoughts and thoughts process, certain features  and see how they're using it,

Working doc: https://docs.google.com/document/d/1hR3shZuG_1QA1Xeh6b4Um

[2022-03-07 19:47] markoprljic opened #515 "Non-verified popup User Research"
This feature is going to explore having a pop up notification or verified badge on projects currently on the giveth platform which indicates if said listed project has been verified to check its authenticity by the Giveth team.

Verification/Pop-up of verified status of a project has the possibility of either providing value and preventing users from donating to a fraudulent project. It also has t

[2022-03-09 10:08] #496 closed

[2022-03-09 12:24] aminlatifi commented on #402
@mosaeedi Would you please add this icon to Design System in Figma?

[2022-03-09 12:32] aminlatifi commented on #290
I just came across this issue randomly. If I was mentioned first, I would tell you it's possible technically to show both stream statuses. The only subtle point is that we just keep updated user balance on the network he/she is connected to. In case user balance changes in another network, user just need to refresh the page because the information of other network is only fetched once in order to

[2022-03-09 13:56] aminlatifi commented on #513
@ahmadabugosh I need the design team's help with the type of element. @mosaeedi Can you add it?

[2022-03-09 14:14] laurenluz opened #516 "Regen Farms - Create outreach materials for other DAOs"

[2022-03-09 14:16] laurenluz commented on #451
@mohammadranjbarz please follow up with @paxthemax about this :)

[2022-03-09 14:21] mohammadranjbarz commented on #451
@paxthemax

Now if the address of givers are too many, we separate it to multiple commands and Mitch execute it, now if you changed some contracts just tell me to change response of my endpoint

This is part of our current response

[code]

You can call it directly to see the response:

'https://givback.develop.giveth.io/calculate-givback?startDate=2022%2F01%2F14-16%3A00%3A00&endDate=2022%2F01%2F2

[2022-03-09 15:35] chad-fi commented on #456
@laurenluz to push this forward we need people to interact with and vote for the integration (linked above). The number of votes has been more or less stagnant. I work on a post to announcements channel with a funny a meme or something to grab attention. I wanted to make an announcement in the community call but have lots of conflicts on meeting times with my 9-5 :/

[2022-03-12 15:10] divine-comedian commented on #451
With the relayer contract in place, now the agent should send only one transaction, to the relayer contract which contains all of the information for the GIVbacks round distribution. The relayer contract will then process this information and create multiple txs that are forwarded to the tokenDistro - @paxthemax  needs to define how this information is structured so we can modify the `calculate-gi

[2022-03-12 16:16] divine-comedian commented on #402
PR pending review for ui-design-system

@MohammadPCh
https://github.com/Giveth/ui-design-system/pull/45

[2022-03-12 16:27] GriffGreen opened #517 "Can't unstake from sushiwasp stake"
<img width="1488" alt="Screen Shot 2022-03-12 at 11 25 27 AM" src="https://user-images.githubusercontent.com/14945613/158026144-fb78712d-f674-4ec6-aff9-4f00a07d2adf.png">

Tried unstaking just half, tried refreshing, changing accounts... I didnt restart the browser or the computer

I'm using brave

[2022-03-12 20:09] mosaeedi commented on #402
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=2281%3A59772

[2022-03-12 20:14] aminlatifi commented on #517
Remove xdai network from metamask and add it again, you can use network switch capability of giv economy

[2022-03-13 16:45] markoprljic commented on #513
@mosaeedi just tell them which <p> style to use. It's defined in DS.

[2022-03-14 09:04] mosaeedi commented on #513
**Homepage**
[https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1064%3A57823](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1064%3A57823)

**Projects**
[https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1908%3A67160](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-

[2022-03-14 11:56] MoeNick opened #518 "GivingBlock badge in Project cards is needed"

[2022-03-15 21:27] laurenluz opened #519 "Make the GIV/DAI univ2 pool"
The people have spoken! Let’s use this 5 ETH from optimism for a GIV/DAI Univ2 on Mainnet. So we need to:

- sell the ETH for DAI (@GriffGreen currently has access to it)
- send the DAI to our multisig
- make the pool on univ2 from our multisig on mainnet (@divine-comedian is our man!)

The forum post:
https://forum.giveth.io/t/where-do-we-put-the-5-eth-from-optimism-which-liquidity-pool/427

I ju

[2022-03-16 02:03] laurenluz opened #520 "Announce that univ3 pool is turning off"
https://forum.giveth.io/t/the-univ3-farm-is-being-taken-advantage-of-we-need-to-fix-it/413/23

[2022-03-16 02:04] laurenluz commented on #520
on March 21 it's going off, we need people to claim rewards
how much detail to include?

[2022-03-16 02:04] laurenluz opened #521 "Create snapshot of univ3 stakers that are remaining on March 21"
@aminlatifi we know how to do this right?

[2022-03-16 02:05] laurenluz opened #522 "Distribute outstanding Univ3 rewards via GIVbacks"
After we shut if off March 21

[2022-03-16 02:07] #501 closed

[2022-03-16 02:07] #502 closed

[2022-03-16 02:07] #489 closed

[2022-03-16 02:07] #491 closed

[2022-03-16 02:33] laurenluz opened #523 "Move Regen Streams Section lower? Or make a toggle?"
@markoprljic @willyogo

Right now the regen streams section is kind of in the middle of GIVstream stuff... I think this is really awkward flow.

Should we move it to the bottom below "Increase your GIVstream"? Or perhaps we can add a title next to "GIVstream" at the top, and this acts as like a toggle?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3fa02c05-9f35-4d17-b

[2022-03-16 02:36] laurenluz opened #524 "Update Circulating Supply for CMC"
Related to #454

[2022-03-16 02:40] #493 closed

[2022-03-16 02:41] #508 closed

[2022-03-16 08:32] MoeNick opened #525 "Prevent public view to see owner view if wallet is lock or not signed."

[2022-03-16 14:27] markoprljic commented on #523
Hmmm ... I don't understand the problem @laurenluz From the screenshot you uploaded I'm not seeing what you're referring to.
In the draft design we have this:
<img width="739" alt="Screenshot 2022-03-16 at 15 24 48" src="https://user-images.githubusercontent.com/5704285/158612191-274b4f16-869d-404c-8be1-f6d5fc106485.png">

The Multiverse section is below the main Flowrate because it is related to

[2022-03-16 14:45] laurenluz commented on #521
we can take snapshot a block after we turn off the rewards
@GriffGreen to connect @aminlatifi to Jordi for access to an archive node
can get stakers position for subgraph and determine  reward for each one

To turn off:
need to upgrade the smart contract
@paxthemax and @aminlatifi need to sync on this

Two things:
prepare upgrade by multisig and prepare script for computing the reward

[2022-03-16 14:47] laurenluz opened #526 "Frontend fix for univ3 pool after it's off"
The harvest button should be greyed out and a tooltip that explains the situation

@mosaeedi can you help us w a quick mockup of this? I will answer any questions

[2022-03-16 14:48] laurenluz commented on #522
We have two ways of doing this:
- multisend
- GIVbacks trigger

let's use the multisend... they won't need to claim it, it will just show up in their wallet (and will come from token distro)

[2022-03-16 16:55] paxthemax commented on #521
@aminlatifi FYI this should offer archival services https://www.alchemy.com/supernode

[2022-03-16 16:58] laurenluz commented on #523
Yeah that's what it looks like now, you can see it in the test environment if you connect to xdai: https://giveth-dapps-v2.vercel.app/givstream

My issue is that... before we had
- GIVstream flowrate
- GIViverse expansion bar
- GIVstream explainer text
- GIVstream History table
- Ways to increase your GIVstream

Now we jammed Regen streams under the expansion bar, before the GIVstream explainer te

[2022-03-16 16:59] laurenluz commented on #523
@markoprljic

[2022-03-16 19:03] GriffGreen commented on #444
http://dashboard.giveth.io/public/dashboard/4717fd91-a311-42cf-93d9-185ec8c08a04?round_range=2022-02-04~2022-02-18

New dashboard is up!

Any feature requests?

[2022-03-16 19:15] GriffGreen commented on #444
I would love to see the dates be easily connected to rounds ... i like the ability to customize too... but it would be great if the rounds were easy to select as well.

[2022-03-17 09:50] MoeNick opened #527 "Responsive Header: Remove title in the header in shorten menu"
According to design,  mobile view, I think we have to remove title beside the Shorten menu icon.

I can see this as an example:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/3745f49a-e1d4-474b-b75b-92aa3bf56724)

[2022-03-17 22:20] laurenluz opened #528 "Move "Regen Streams" to the "Regen Farms" section - Design needed"
It is very confusing to have to navigate to the GIVstream page to find the regen streams. Let's move the DAO's Regen Stream Next to their Farm card.

We could the RegenFarm structured so that each DAO has one whole time... from left to right:
- The DAO's farming opportunity
- The DAO's description (option)
- The Regen Stream Flowrate, Expansion bar & Stream rewards harvest button

So these two ima

[2022-03-17 22:20] laurenluz opened #529 "Move "Regen Streams" to the "Regen Farms" section - Design needed"
It is very confusing to have to navigate to the GIVstream page to find the regen streams. Let's move the DAO's Regen Stream Next to their Farm card.

We could the RegenFarm structured so that each DAO has one whole time... from left to right:
- The DAO's farming opportunity
- The DAO's description (option)
- The Regen Stream Flowrate, Expansion bar & Stream rewards harvest button

So these two ima

[2022-03-17 22:26] laurenluz commented on #523
https://github.com/Giveth/liquidity-mining-dapp/issues/200 this issue should solve this problem

[2022-03-17 22:26] #523 closed

[2022-03-17 22:27] #520 closed

[2022-03-18 01:41] GriffGreen commented on #521
I think we have a winner!

[2022-03-18 01:42] GriffGreen commented on #519
Converted the ETH to DAI and Sent the DAI!

[2022-03-18 01:43] GriffGreen commented on #451
AMAZING

[2022-03-18 10:17] markoprljic commented on #526
Shouldn't we just remove the card all together? For a time being to inform users we can keep the card and just write info "This pool has ended".

![Screenshot 2022-03-18 at 11.15.46.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/076dde63-87ec-409d-9a9e-d359430c2ce2)

[2022-03-18 16:33] laurenluz opened #530 "Create Typeform for DAOs who wish to apply"

[2022-03-18 16:37] laurenluz commented on #530
@willyogo I'm thinking we create this for prospective DAOs who wish to apply. They fill out the basic details and then we contact them to confirm/reject. Afterwards we reach out to them and get them to provide the other info like start/end date, etc. etc.

Questions for typeform:

- applicant's name 
- applicant's contact information (discord, telegram)
- DAO name
- link to DAO site
- link to DAO

[2022-03-18 19:34] laurenluz commented on #526
They user should still be able to unstake though.

The APR will be zero and they will not be able to harvest rewards though.

[2022-03-18 19:57] divine-comedian commented on #451
@paxthemax  do we have any progress on this issue? can you please coordinate w/ mohammad

[2022-03-18 20:33] laurenluz commented on #530
@willyogo What do you think?

https://giveth.typeform.com/regenfarms

[2022-03-19 10:58] aminlatifi commented on #521
The code to report staker rewards at a specific block is prepared.

I ran it against an old block and the report is this:
[sample_report_block_14415352.txt](https://github.com/Giveth/GIVeconomy/files/8309039/sample_report_block_14415352.txt)

[2022-03-19 11:01] aminlatifi commented on #521
The code is pushed here
https://github.com/Giveth/uniswap-stakers-report

[2022-03-21 12:49] mosaeedi commented on #526
The button disabled and the tooltip added in front of the APR

[Link to figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=19%3A17721)

[2022-03-21 13:18] markoprljic commented on #526
"Please unstake your tokens and check out other pools available."

[2022-03-21 14:18] mosaeedi commented on #526
![Uploading Screen Shot 2022-03-21 at 5.18.01 PM.png…]()

[2022-03-21 14:22] laurenluz commented on #526
@mosaeedi should say:

"This pool is no longer available
Please unstake your tokens and check out other available pools.
Got it"

then when the user clicks, the harvest button is inaccessible, but they can still "unstake"

[2022-03-21 14:24] laurenluz commented on #526
It would be great if you could send that picture... and then the picture of the univ3 pool with "harvest rewards" greyed out, "stake" greyed out, and "unstake" being the only possible option for users who have NFTs staked.

[2022-03-21 14:31] mosaeedi commented on #526
## 1. infobox visible
![Screen Shot 2022-03-21 at 5 28 35 PM](https://user-images.githubusercontent.com/13708322/159283009-2ce6397f-d557-4f88-91ce-e57b7a83b2ae.png)

## 2. Infobox closed, only the "unstake" button is active
![Screen Shot 2022-03-21 at 5 29 14 PM](https://user-images.githubusercontent.com/13708322/159283202-2c77f8e2-717a-4a0a-b5d7-e7cbe4680727.png)

[2022-03-21 16:06] Tosinolawale opened #531 "Giveth General Survey collating Feedbacks from Giveth Donors and Project Owners"
For Subsequent Giveth Projects, either improving new features or creating a new one (Like GIVpower),  we will need to collate feedbacks from Users of the Platform, which falls broadly into Project owners and Donors.

The Goal of this task is to create an adaptable survey form which will be tailored towards getting users thoughts and insights needed for Usability studies for improving the platform

[2022-03-21 20:47] divine-comedian commented on #440
@GriffGreen where can we find the reviewed addresses that need to be changed?

[2022-03-22 16:30] #526 closed

[2022-03-22 16:30] laurenluz commented on #509
https://forum.giveth.io/t/the-univ3-farm-is-being-taken-advantage-of-we-need-to-fix-it/413

[2022-03-22 16:31] #509 closed

[2022-03-22 16:33] laurenluz commented on #495
https://twitter.com/Givethio/status/1505981603293585410

[2022-03-22 16:33] #495 closed

[2022-03-22 16:34] #492 closed

[2022-03-22 16:34] #454 closed

[2022-03-22 16:34] #447 closed

[2022-03-22 16:34] #486 closed

[2022-03-22 16:34] #510 closed

[2022-03-22 16:41] laurenluz commented on #513
oooff a lot these keyboards make the overall message awkward and heavy imo.

I did learn that we can add SEO keywords to the DApp in a "hidden" way... we just make them blend in and they still come up when people search. Perhaps we can remove some of these edits and make them hidden?

I mean, it's not even correct to say "charities", most projects on giveth are not charities at all. also not all p

[2022-03-22 16:50] laurenluz commented on #402
looks goods on v2

[2022-03-22 16:50] #402 closed

[2022-03-22 17:00] laurenluz commented on #505
This is working great

[2022-03-22 17:02] laurenluz commented on #506
works as described for verified projects on live
![image](https://user-images.githubusercontent.com/75490971/159535290-9afc3228-3d57-4733-a8eb-fbb36fae2754.png)

[2022-03-22 17:05] #506 closed

[2022-03-22 17:06] #521 closed

[2022-03-22 17:07] laurenluz commented on #522
Yesterday we said we'd send out the rewards within 60 days, so we *do* have time, but it would be nice to get this out and be done with univ3 asap.

@aminlatifi @divine-comedian can you guys coordinate on setting up the vote to distribute the rewards?

[2022-03-22 17:24] #498 closed

[2022-03-22 17:36] laurenluz commented on #519
LP is in our multisig!!

[2022-03-22 17:36] #519 closed

[2022-03-22 17:50] divine-comedian commented on #522
@aminlatifi  to confirm we would use the `allocateMany` function within the tokenDistro instead of `sendGIVbacks`? This would directly send GIV to the specified addresses and allocate them a GIVstream?

tokenDistro contract - https://blockscout.com/xdai/mainnet/address/0x187aAFEd586AbB1A4D114aaE255e8641749d96a7/contracts

[2022-03-22 18:24] laurenluz commented on #522
btw I would love it if this allocation to the GIVstream showed up in the history table with the table "GIVfarm"

[2022-03-22 19:22] GriffGreen commented on #517
works!

[2022-03-22 20:46] #517 closed

[2022-03-22 20:57] laurenluz opened #532 "Create forum post regarding potentially terminating middle finger's stream"
Amin prepared this data: https://hackmd.io/@latifi/SJJM-zRbq

[2022-03-23 01:12] Cotabe opened #533 "In Credit Card when choosing continue with Transak, I get congratulated on my contribution"
It's my first issue hope I describe it well.

I am not sure if we are already taking credit cards or not yet.

If we are... it is not asking for my details.

If we are not... I think it should be said explicitly that this feature is coming soon. Meanwhile here are the options...

[2022-03-23 01:21] Cotabe opened #534 "Can't sign in with Google on my Brave brwoser"

[2022-03-23 07:23] aminlatifi commented on #522
Yes, `allocateMany` exactly does that.

[2022-03-23 07:24] aminlatifi commented on #522
@laurenluz We can do it after the `allocateMany` tx goes through. We can use the txHas to mark all allocations on that tx as GIVfarm

[2022-03-23 11:22] RamRamez commented on #533
It's resolved in PR [#313](https://github.com/Giveth/giveth-dapps-v2/pull/313)
It will be merged on next release.

[2022-03-23 14:18] laurenluz commented on #516
@aminlatifi to prepare a document in hackMD

[2022-03-25 18:09] #418 closed

[2022-03-27 11:08] aminlatifi commented on #516
https://hackmd.io/@latifi/H1f5_Ctz9

[2022-03-28 14:47] CarlosQ96 opened #535 "Fix Drafted Project being published."

[2022-03-28 22:01] #529 closed

[2022-03-29 15:14] divine-comedian opened #536 "Check for Reciruclated Scholarships from CS via TRACE"

[2022-03-29 15:14] divine-comedian opened #537 "Donations over $1000 USD aren't recirculated"

[2022-03-29 15:15] divine-comedian opened #538 "Ensure Listed, Non-verified projects are in correct list"

[2022-03-29 15:15] divine-comedian opened #539 "Sort TRACE donations into correct buckets"

[2022-03-30 14:28] laurenluz opened #540 "Make GIV/FOX LP on honeyswap gnosis chain"
We'll have the $ in there from tomorrow! from regen farms!

@divine-comedian you want to help with this?

[2022-03-30 16:58] freshelle commented on #536
Highlighted in red the giver address that was granted with scholarship. This is all based on the financial history file downloaded from the CS Association Trace campaign. So far, the ineligible donations identified are those having the same address with the donation and where the scholarship was granted.

There are instances that the scholarship trace recipient is different from the address of the

[2022-03-30 19:29] divine-comedian commented on #516
@aminlatifi  Reviewed and fixed some grammar! looks pretty awesome

[2022-03-30 20:18] laurenluz commented on #516
@aminlatifi @divine-comedian do you think we should add this to our giveth docs? I wrote some basic Regen Farms documentation but left out the technical details

[2022-03-31 07:34] aminlatifi commented on #516
Thanks @divine-comedian

[2022-03-31 07:36] aminlatifi commented on #516
@laurenluz I couldn't find Regen Farms in docs.giveth.io. BTW, if the new doc covers all of that, can supersede the old one. Otherwise we should merge them together.

[2022-03-31 11:58] GriffGreen opened #542 "Even to smart members of our team... the givstream progress bar is confusing"
<img width="660" alt="Screen Shot 2022-03-31 at 6 56 37 AM" src="https://user-images.githubusercontent.com/14945613/161049569-5407db0d-60b2-4656-b106-496600b776a9.png">

Chadfi wrote this in a token swap forum post... this progress bar shout be rethought.

[2022-03-31 12:05] MoeNick opened #541 "Cant see any token list for GivingBlock Projects while Im on Ropsten as main network"
on UAT trying to test default token list on GivingBlock Projects.
when I switch network, I switch to Ropsten as mainnet, but Im still cant see any token list there.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/ee0b8030-67de-4f68-af6f-e68f6ed59280)

[2022-03-31 18:23] laurenluz commented on #516
@divine-comedian can you add it as a new section under here?

![image](https://user-images.githubusercontent.com/75490971/161124064-20808fb1-b4a1-4640-8f76-a4bf79da51da.png)

[2022-03-31 22:43] divine-comedian commented on #516
live!
https://docs.giveth.io/dapps/regenFarmContracts

[2022-04-04 09:02] mosaeedi opened #543 "GIVback overview in my account"
## Why?
Users need to have an Overview of GIVbacks in one place, "My account" so they can see the GIVbacks they harvested from different sources

## How to measure?
This is a new thing that we are adding and we need to observe user behavior to understand how they are using it!

## Design resources
This feature is still under development, we are missing the Responsive and mobile guide

- [My accoun

[2022-04-04 21:22] laurenluz commented on #540
this is done right? @divine-comedian

[2022-04-04 21:23] #494 closed

[2022-04-04 21:25] laurenluz opened #544 "RegenFarms outreach"
Would be great to reach out the Water liqudity proposal people! I will set the ball in motion & then would love to pass off individual coordination to someone.

[2022-04-04 21:29] laurenluz opened #545 "Investigate - why our new routing isn't working on the new LPs we provided"
When you trade GIV for TEC, it works... when you trade TEC for HNY... it does not work by routhing through TEC/GIV GIV/HNY...

Why are the trades not routing well?

[2022-04-04 23:12] divine-comedian commented on #540
not yet!

[2022-04-05 19:40] divine-comedian commented on #540
DONE!

[2022-04-05 19:40] #540 closed

[2022-04-05 21:42] laurenluz commented on #538
ok I moved all the verified projects from the "listed, non-verified" list to the verified list. They're at the bottom in yellow. FYI @divine-comedian

[2022-04-05 22:33] laurenluz commented on #545
https://github.com/1Hive/honeyswap-interface/issues/71

[2022-04-05 22:33] laurenluz commented on #545
https://forum.1hive.org/t/water-shared-liquidity-proposal/5019/20

[2022-04-06 20:44] laurenluz commented on #516
Thanks Mitch!

[2022-04-06 20:44] #516 closed

[2022-04-06 21:50] laurenluz opened #546 "Add liquidity from our token swaps to the dashboard"
@mendesfabio would you be down to add new liquidity from our token swaps to the dashboard?

https://dune.xyz/metacrypto/giveconomy

We have 3 done, and more coming... I explain a little in this issue. We also have Jack working on a tweet thread summarizing them.
https://github.com/Giveth/giveth-planning/issues/621

[2022-04-07 09:33] mosaeedi opened #547 "Canceled project view"
## Why do we need it?
When users open a canceled project using a direct link, they can see an empty screen with just an alert message that this project is canceled!
Right now it's a dead-end for users and we can make it a starting point for users to discover similar projects.

## solution
We will have a small Graphic on top to show users that this project is no longer available
and then, we can li

[2022-04-07 20:24] mosaeedi opened #548 "Project verification"
## Why?
Right now we handle project verification with Typeform and users have to leave Giveth to go through the verification process, since it handles with Typeform they have to ask some basic questions like project name, project link, etc.

## Impact
We can make it easier for the Giveth and also for the project owner by handling the process in our app instead of using Typeform.

## Design resourc

[2022-04-08 12:35] divine-comedian opened #549 "Modify DB/Blacklist/Whitelist for Retro GIVbacks scripts"
We need to make sure a few modifications happen for exceptional transactions caught in the retroactive GIVbacks review process:

- [x] Blacklist CS scholarship txs on TRACE in Verified Project Donations
- [x] Whitelist Purple list address donations for Verified Projects that were in Non-Verified/Listed Bucket (marked in yellow)
- [x] blacklist griff donations to TEC

[2022-04-09 07:31] mohammadranjbarz opened #550 "Refactor DB queries ( by moving them from resolvers and reuse them)"

[2022-04-09 07:32] mohammadranjbarz commented on #550
I should add this to impact-graph, so I close this one

[2022-04-09 07:32] #550 closed

[2022-04-11 06:38] mohammadranjbarz opened #551 "Just save verified donations in totalDonations in project entity"
Now we save projects donations amount in a field name `totalDonations`, and we have some sorting in our system based on `totalDonations` but there is a bug there because a user can saveDonation with a huge amount on some projects ( without really donating) and this project will come first in this sorting, I suggest we should just count `verified` donations ( I mean the donations that got verified

[2022-04-11 06:57] mohammadranjbarz commented on #551
@MoeNick
Could you move this issue to impact-graph?
I can't do it myself

[2022-04-11 12:19] mosaeedi opened #553 "Updating projects list on "My projects" page"
We need to update the Project table on "my project" page to include the new status type
Status: Active, Deactive, "Draft" <- (The new status)

[2022-04-13 17:10] clara-zi opened #554 "Extra shapes on website header: spooky-shadowy"
Something spooky-shadowy at the top of the giveth website:

![image](https://user-images.githubusercontent.com/100724132/163233777-2b1580f6-e8c3-45bb-b825-ced78c27f33e.png)

[2022-04-14 05:32] clara-zi commented on #554
This has fixed.

[2022-04-14 05:32] #554 closed

[2022-04-17 18:22] aminlatifi commented on #440
@divine-comedian  I prepared the script
[GIVdroprecipientChange-01-04-2022-by-Amin.txt](https://github.com/Giveth/GIVeconomy/files/8502209/GIVdroprecipientChange-01-04-2022-by-Amin.txt)

[2022-04-18 17:19] divine-comedian commented on #353
testing on `staging.giveth.io`

just fixed a minor typo but other than that the content looks good and the modal mostly matches the figma spec. one question for @markoprljic

are these two columns or rows supposed to be left or right aligned?

![image](https://user-images.githubusercontent.com/67759413/163846409-dcefb4fc-b39d-488a-b0a6-0ac86a85d154.png)
looping in @MohammadPCh

[2022-04-18 18:41] markoprljic commented on #353
Right aligned @divine-comedian

[2022-04-18 19:24] divine-comedian commented on #353
looks good then! moving to DONE

[2022-04-19 21:56] #530 closed

[2022-04-19 21:58] laurenluz commented on #364
This looks right now on etherscan.

But on blockscout... no logo. do they usually have logos? @GriffGreen ?

https://blockscout.com/xdai/mainnet/token/0x4f4F9b8D5B4d0Dc10506e5551B0513B61fD59e75/token-transfers

[2022-04-19 22:00] laurenluz commented on #488
@willyogo anything we can do to bump this?

[2022-04-19 22:03] #545 closed

[2022-04-19 22:04] #533 closed

[2022-04-19 22:05] #535 closed, assigned to nobody

[2022-04-20 01:41] GriffGreen commented on #364
They do: https://blockscout.com/xdai/mainnet/token/0xb7D311E2Eb55F2f68a9440da38e7989210b9A05e/token-transfers

[2022-04-20 16:25] laurenluz opened #555 "Determine Feasibility of using GIVstream for rewards for Rari FUSE pool"
We want to know if we can give rewards using the GIVstream. Perhaps like we did it for univ3.

@aminlatifi & giantkin to determine feasibility. Can use Hardhat for test scenarios.

would need to set rewards price the same as GIV to have the APR show correctly.

[2022-04-20 18:33] Cotabe opened #556 "Claim your GIVdrop"
This might not be a good issue...

As a new person in the GIVeconomy I got excited to see a button to claim a GIVdrop and then got a bit sad I missed it.

I ask myself should that still be there? But maybe it should because there are some people yet to claim their GIVdrop.

[2022-04-21 16:25] giantkin commented on #555
We talked. I hope i helped.  Amin is going to play with a new pool and experiment with that one aspect.  I am not sure if we are able to add more than ONE token to the distrubution or not.   (amin, add the Stream token address, and after you look to see if that works, try to add just the straight GIV token address as well?)

[2022-04-22 00:19] Cotabe commented on #544
Hey Cotabe this can help ;)

https://docs.google.com/document/d/1Ei9-e_FAjl2Xm9jcTx4RNofc-y8iYWXqc1BWzIJ-lkU/edit

[2022-04-23 18:06] divine-comedian commented on #524
waiting to get access credentials to the giveth CMC acct - the current ones posted don't seem to be working!

[2022-04-24 08:45] MohammadPCh commented on #414
@markoprljic
At the end of the video, the screen turns black, can we change the end of the video to something else?
![Screenshot from 2022-04-24 13-08-30](https://user-images.githubusercontent.com/17097576/164967992-5709542f-7a0a-4eb1-88c6-3035362a5cf4.png)
I hope to solve it with move the video to the start point. but I think it's better to fade to blue instead of black at the end. (This is my su

[2022-04-25 15:42] laurenluz commented on #524
@ForestSoleil also posted them in the ops channel. try that, if not, hopefully she can send them to you via DM :)

[2022-04-25 16:00] laurenluz commented on #414
also btw it looks AMAZING

[2022-04-27 14:28] divine-comedian commented on #414
hey @MohammadPCh  - still missing the buy GIV text on the GIVdrop card

![image](https://user-images.githubusercontent.com/67759413/165540770-a30591a2-05fe-4621-9a78-60934573dcde.png)

as per - https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3948%3A111086
I belive this link should link to https://app.honeyswap.org/#/swap?outputCurrency=0x4f4F9b8D5B4d0Dc10506e5551

[2022-04-27 16:00] laurenluz commented on #414
the "additional boxes" are referring to the GIVbacks, GIVgarden, GIVfarm cards below the GIVdrop thing in your image. Looks good.

[2022-04-27 17:27] laurenluz opened #685 "GIVpower Delegation Launch Plan"
Need to create a list of action items/tasks for launching GIVpower w/ delegation.

Delegation notes from comms call:
- Unique opportunity - grassroots leaders within Giveth that want to engage w/ ecosystem
- Monthly delegate projects - top projects as chosen by delegates
- Reorganizing fundraising for impact projects
- e.g. 1 delegate a month gets to share their top projects
- Outreach to impact i

[2022-04-27 21:46] laurenluz commented on #440
@divine-comedian can we close this issue? or should we leave it open as a reminder to check?

[2022-04-28 12:20] MohammadPCh commented on #414
Thank you @divine-comedian ,
I will fix it.

[2022-05-02 11:50] divine-comedian commented on #440
We can close it!

[2022-05-02 11:50] #440 closed

[2022-05-06 18:44] chad-fi opened #557 "Token Swaps"
This epic captures all movement regarding sharing liquidity pools created with partner DAOs.

On Feb 10th, our goal of 2-3M GIV in 4 months equated to 840k-1.26M USD in shared pools by June 2022. Since then we have sent $1M collectively to FOX + GNO pools. As of June 2022 there is 50M GIV (2.5M USD eq.) in liquidity.giv.eth.

[2022-05-06 18:47] chad-fi opened #558 "FOX<>GIV"
Link to forum post
Content
ETA

[2022-05-09 20:09] laurenluz opened #559 "New Twitter Bio & Banner for Giveth"
Working on updating out Bio & Banner for more impact...

From meeting w/ Steee:

Bio points:
- add mini mission statement
- can use stats to give authority like "over x projects raising funds in crypto" or "over x funds raised"
- go for clairty + hype/buzz. People should understand it & want to be a part of it

Banner idea:
- optimize space: include 3-4 words explaining what Giveth is

Bio phrases

[2022-05-09 20:27] laurenluz opened #560 "New Banner for giveth Twitter"
As per #559 - we should make a new banner for the Giveth twitter that doesn't say "giveth" but makes us of the space to provide more context to who we are.

I'm working on some ideas in that issue, and once they are finalized, I'd love your help @rodricastillo9013 to use those words & giveth branding to update the art for the banner!

![image](https://user-images.githubusercontent.com/75490971/167

[2022-05-10 03:39] Cotabe commented on #544
Here are some docs to find regen farms champions!

https://drive.google.com/drive/folders/1qip0u3LSY_JN9m7ouk5Jo3_nXc-ljjbq?usp=sharing

This would certainly benefit from collective intelligence:

https://docs.google.com/document/d/1Y7B9bDq_6NIsLr4kJ28wuPeT4I9fVEfFbdibAuNrnbM/edit#heading=h.v05uez7je3jy

[2022-05-11 02:15] #538 closed

[2022-05-11 02:15] #416 closed

[2022-05-11 02:15] #353 closed

[2022-05-11 21:15] laurenluz commented on #555
@paxthemax @aminlatifi just a reminder: in today's call we decided it would be best if you tried to deposit a little FEI into the existing pool & them tested to see if the streaming rewards can work.

Send you addresses to @giantkin so he can whitelist you for testing this.

[2022-05-12 07:20] MoeNick opened #561 "GIVpower DApp's implementation"

[2022-05-16 12:26] chad-fi commented on #558
Posted 30 MAR 2022
https://forum.shapeshift.com/t/fox-giv-treasury-swap-and-liquidity-provision/1311?u=gbeast
Passed 4 APR 2022

[2022-05-16 12:26] #558 closed

[2022-05-16 12:31] chad-fi opened #562 "FOX <> GIV"
**Link to FOX forum post**: https://forum.shapeshift.com/t/scp-73-fox-giv-treasury-swap-and-liquidity-provision/1333
**Link to GIV forum post**: N/A
**Content**: $1M pool proposal
**ETA**: 5 days

[2022-05-16 12:41] chad-fi commented on #562
Passed 28 APR 2022

[2022-05-16 12:41] #562 closed

[2022-05-16 12:43] chad-fi opened #563 "FOX <> GIV"
**Link to FOX Snapshot**: https://snapshot.org/#/shapeshiftdao.eth/proposal/0xebede5584ad8cd3ac25f6190c6707de9d730ce79a19ba9cdf30fae29f625030b
**Link to GIV Snapshot**: https://snapshot.org/#/giv.eth/proposal/0x0f48fe7569ac06bdb6fe8d722c1cf8e32cbda284da611beb28ef9f8adda39533
Content: $1M pool proposal
ETA: 5 days

[2022-05-16 12:43] chad-fi commented on #563
Passed GIV 7 MAY 2022
Passed FOX 8 MAY 2022

[2022-05-16 12:43] #563 closed

[2022-05-16 12:46] chad-fi opened #564 "FOX <> GIV"
**Giveth Multisig**: https://gnosis-safe.io/app/gno:0xf924fF0f192f0c7c073161e0d62CE7635114e74f/home
**Shapeshift Multisig**: https://gnosis-safe.io/app/gno:0xb0E3175341794D1dc8E5F02a02F9D26989EbedB3/home
**Content**: Gnosis Safes
**ETA**: 1 day

[2022-05-16 12:58] chad-fi commented on #564
Giveth will send 1,508,677.92  GIV to the Shapeshift safe on the Gnosis chain at: 0xb0E3175341794D1dc8E5F02a02F9D26989EbedB3

Shapeshift will send  1,215,486.27  FOX to the Giveth liquidity Multisig on the Gnosis chain at: 0xf924fF0f192f0c7c073161e0d62CE7635114e74f

[2022-05-16 12:58] chad-fi commented on #564
1/2 of pool created 13 MAY 2022
https://info.honeyswap.org/#/pair/0x75594f01da2e4231e16e67f841c307c4df2313d1

[2022-05-16 13:02] chad-fi opened #565 "GNO <> GIV"
**Link to GNO forum post**: https://forum.gnosis.io/t/gnosis-giveth-token-swap/4872
**Link to GIV forum post**: https://forum.giveth.io/t/giv-gno-1m-500k-500k-token-swap/561
**Content**: $1M pool proposal
**ETA**: 5 days

[2022-05-16 13:03] #565 closed

[2022-05-16 13:05] chad-fi opened #566 "GNO <> GIV"
**Link to GNO forum post**: https://forum.gnosis.io/t/gip-41-should-gnosisdao-partner-with-giveth-to-increased-sustainable-liquidity/4942
**Link to GIV forum post**: N/A
**Content**: $1M pool proposal
**ETA**: 5 days

[2022-05-16 13:05] chad-fi commented on #566
GNO passed 11 MAY 2022

[2022-05-16 13:05] #566 closed

[2022-05-16 13:06] MohammadPCh opened #567 "Migrate to Redux"
As our application grows, we feel the need for a state manager. After researching various state managers, we came to the conclusion that we should use Redux. So I created this epic to continuously move application contexts to Redux.

[2022-05-16 13:07] chad-fi opened #569 "GNO <> GIV"
**Link to GNO Snapshot**: https://snapshot.org/#/gnosis.eth/proposal/0x84380477f05620ec1e27be75833b90cdda44b1a1ecb905d4a42b68c25640961b
**Link to GIV Snapshot**: https://snapshot.org/#/giv.eth/proposal/0x56b62d5598cab5cd0f86fe1f1d2676e8c5c7f02f8ffb66c2403e68bf4fc8190e
**Content**: $1M pool proposal
**ETA**: 5 days

[2022-05-16 13:07] chad-fi commented on #569
GNO passed 11 MAY 2022
Need to submit GIV snapshot

[2022-05-16 13:08] MohammadPCh opened #570 "move user context to redux"

[2022-05-16 13:08] MohammadPCh opened #571 "Move TokenDistroHelper context to Redux"

[2022-05-16 13:08] MohammadPCh opened #572 "Move Price context to Redux"

[2022-05-16 13:11] MohammadPCh opened #575 "Move Modal Context to Redux"

[2022-05-16 14:25] chad-fi opened #577 "WATER"
**Link to 1Hive forum post**: https://forum.1hive.org/t/water-shared-liquidity-proposal/5019/35
**Link to GIV forum post**: https://forum.giveth.io/t/water-a-new-paradigm-for-sustainable-liquidity/492
**Content**: Index Token Proposal
**ETA**: 5 days

[2022-05-16 14:27] #577 closed

[2022-05-16 14:31] chad-fi opened #578 "WATER"
**HNY Vote**: https://gardens.1hive.org/#/xdai/garden/0x8ccbeab14b5ac4a431fffc39f4bec4089020a155/proposal/89